{% extends 'base.html' %}

{% load static %}

{% block title %}
Inicio
{% endblock title %}


{% block route_bar %}
<li class="separator ">
    <i class="fas fa-chevron-right icon-route"></i>
</li>
<li class="nav-item-route ">
    <a href="" class="icon-route">Home</a>
</li>
{% endblock route_bar %}
    

{% block content %}
<div class="container-fluid py-4">
    <div class="row mb-4">
        <div class="col-lg-2 col-md-2"></div>
        <div class="col-lg-8 col-md-8 mb-md-0 mb-4">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="row">
                        <div class="col-lg-6 col-7">
                            <h4>Mis Tickets</h4>
                        </div>

                    </div>
                </div>
                
                <div class="card-body px-0 pb-2">
                    <div class="row text-center container-fluid ">
                        <div class="col-1"></div>
                        <div class="cant col-3 col-sm-3 card text-white bg-primary mb-3 ms-2">
                            <div class="card-header">Abiertos</div>
                            <div class="card-body">
                                <p class="card-text fs-1 text-center" id="OPEN">
                                    {{ticket_abiertos}}  <i class="fa-regular fa-folder-open"></i>
                                </p>
                            </div>
                        </div>
                        <div class="col-3 col-sm-3 card text-white bg-warning mb-3 ms-2 cant">
                            <div class="card-header">En Progreso</div>
                            <div class="card-body">
                                <p class="card-text fs-1 text-center" id="PROGRESS">
                                    {{ticket_progreso}} <i class="fa-regular fa-folder-open"></i>
                                </p>
                            </div>
                        </div>
                        <div class="col-3 col-sm-3 card text-white bg-success mb-3 ms-2 cant">
                            <div class="card-header">Cerrado</div>
                            <div class="card-body">
                                <p class="card-text fs-1 text-center" id="DONE">
                                    {{ticket_cerrado}} <i class="fa-regular fa-folder-open"></i>
                                </p>
                            </div>
                        </div>
                        <div class="col-1"></div>
                    </div>
                    <div class="row">
                        <div class="container" style="max-width: 400px; max-height: 450px; min-height: 250px; min-width: 135px;">
                            <canvas id="ticketChart" width="800" height="450"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2"></div>
    </div>
    <div class="row mb-4">
        <div class="col-lg-12 col-md-8 mb-md-0 mb-4">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="row">
                        <div class="col-lg-6 col-7">
                            <h4>Preguntas Frecuentes</h4>
                        </div>
                    </div>
                </div>
                <div class="card-body px-0 pb-2 ms-2 me-2">
                    <div class="wrapper bg-white rounded shadow">

                        <div class="accordion accordion-flush border-top border-start border-end" id="myAccordion">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingOne"> <button
                                        class="accordion-button collapsed border-0" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#flush-collapseOne"
                                        aria-expanded="false" aria-controls="flush-collapseOne"> No funciona le red
                                    </button> </h2>
                                <div id="flush-collapseOne" class="accordion-collapse collapse border-0"
                                    aria-labelledby="flush-headingOne" data-bs-parent="#myAccordion">
                                    <div class="accordion-body p-0 ms-2 me-2 pb-1">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nulla ligula,
                                            finibus eu libero eu, convallis blandit arcu. Vestibulum lorem sem, maximus
                                            id purus sed, aliquam lacinia massa. Vestibulum tellus risus, dictum sed
                                            mollis
                                            et, tincidunt eu arcu. Maecenas eget tincidunt felis, eget laoreet metus.
                                            Nulla
                                            ipsum justo, varius sit amet velit in, aliquam posuere felis. Donec
                                            scelerisque
                                            aliquet diam. Aenean eget fermentum metus. Nulla accumsan felis eget semper
                                            efficitur.
                                            Curabitur fringilla justo eu condimentum sodales. Quisque non convallis
                                            orci.
                                            Phasellus rhoncus mi felis, nec cursus nulla viverra vel. Curabitur id elit
                                            placerat,
                                            venenatis ante eget, accumsan massa. Nunc non.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingOne"> <button
                                        class="accordion-button collapsed border-0" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo"
                                        aria-expanded="false" aria-controls="flush-collapseTwo"> La computadora no
                                        enciende
                                    </button> </h2>
                                <div id="flush-collapseTwo" class="accordion-collapse collapse border-0"
                                    aria-labelledby="flush-headingOne" data-bs-parent="#myAccordion">
                                    <div class="accordion-body p-0 ms-2 me-2 pb-1">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nulla ligula,
                                            finibus eu libero eu, convallis blandit arcu. Vestibulum lorem sem, maximus
                                            id purus sed, aliquam lacinia massa. Vestibulum tellus risus, dictum sed
                                            mollis
                                            et, tincidunt eu arcu. Maecenas eget tincidunt felis, eget laoreet metus.
                                            Nulla
                                            ipsum justo, varius sit amet velit in, aliquam posuere felis. Donec
                                            scelerisque
                                            aliquet diam. Aenean eget fermentum metus. Nulla accumsan felis eget semper
                                            efficitur.
                                            Curabitur fringilla justo eu condimentum sodales. Quisque non convallis
                                            orci.
                                            Phasellus rhoncus mi felis, nec cursus nulla viverra vel. Curabitur id elit
                                            placerat,
                                            venenatis ante eget, accumsan massa. Nunc non.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingOne"> <button
                                        class="accordion-button collapsed border-0" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#flush-collapseThree"
                                        aria-expanded="false" aria-controls="flush-collapseThree"> Tengo red pero no
                                        puedo acceder al sistema
                                    </button> </h2>
                                <div id="flush-collapseThree" class="accordion-collapse collapse border-0"
                                    aria-labelledby="flush-headingOne" data-bs-parent="#myAccordion">
                                    <div class="accordion-body p-0 ms-2 me-2 pb-1">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nulla ligula,
                                            finibus eu libero eu, convallis blandit arcu. Vestibulum lorem sem, maximus
                                            id purus sed, aliquam lacinia massa. Vestibulum tellus risus, dictum sed
                                            mollis
                                            et, tincidunt eu arcu. Maecenas eget tincidunt felis, eget laoreet metus.
                                            Nulla
                                            ipsum justo, varius sit amet velit in, aliquam posuere felis. Donec
                                            scelerisque
                                            aliquet diam. Aenean eget fermentum metus. Nulla accumsan felis eget semper
                                            efficitur.
                                            Curabitur fringilla justo eu condimentum sodales. Quisque non convallis
                                            orci.
                                            Phasellus rhoncus mi felis, nec cursus nulla viverra vel. Curabitur id elit
                                            placerat,
                                            venenatis ante eget, accumsan massa. Nunc non.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var abierto = '{{ticket_abiertos}}';
    var progreso = '{{ticket_progreso}}';
    var cerrado = '{{ticket_cerrado}}';
    var config = {
        type: 'pie',
        data: {
            datasets: [{
            data: [abierto, progreso, cerrado],
            backgroundColor: [
                '#0d6efd', '#ffc107', '#198754'
            ],
            label: 'Tickets'
            }],
            labels: ['Abierto', 'En Progreso', 'Terminado'],
        },
        options: {
            responsive: true
        }
    };

    window.onload = function() {
        
        var cntx = document.getElementById('ticketChart').getContext('2d');
        window.myPie = new Chart(cntx, config);
    };

</script>

{% endblock content %}