{% extends 'base.html' %}

{% load static %}

{% block title %}
Crear Usuarios
{% endblock title %}

{% block content %}

<div class="container-fluid py-4 col-12">
    <div class="row mb-4">
        <div class="col-12 mb-md-0 mb-4">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="row">
                        <div class="col-lg-6 col-7">
                            <h6>Usuario Nuevo</h6>
                        </div>
                    </div>
                </div>
                <div class="card-body px-0 pb-2">
                    <div class="col ms-4">
                        <form action="#" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <label>Nombre de Usuario:</label>
                                        <p class="form-control rounded">{{form.username}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <label>Nombres:</label>
                                        <p class="form-control rounded">{{form.first_name}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <label>Apellidos:</label>
                                        <p class="form-control rounded">{{form.last_name}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <label>Correo:</label>
                                        <p class="form-control rounded">{{form.email}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <label>Contraseña:</label>
                                        <p class="form-control rounded">{{form.password1}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <label>Confirmar Contraseña:</label>
                                        <p class="form-control rounded">{{form.password2}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" value="{{form.staff}}">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Staff</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" value="{{form.superuser}}">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Administrador</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" value="{{form.activo}}">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Activo</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row text">
                                <div class="col-sm-8 ms-4 p-3">
                                    <div class="form-group">
                                        <button class="btn btn-success" type="submit">Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}