{% extends 'base.html' %}

{% load static %}

{% block title %}
Crear Usuarios
{% endblock title %}

{% block content %}

<div class="container-fluid py-4 col-12">
    <div class="row mb-4">
        <div class="col-12 mb-md-0 mb-4">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="row">
                        <div class="col-lg-6 col-7">
                            <h6>Usuario Nuevo</h6>
                        </div>
                    </div>
                </div>
                <div class="card-body px-0 pb-2">
                    <div class="col ms-4">
                        <form action="#" method="post">{% csrf_token %}
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <label>Usuario:</label>
                                        <p>{{form.username}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <label>Nombres:</label>
                                        <p>{{form.nombres}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <label>Apellidos:</label>
                                        <p>{{form.apellidos}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <label>Correo Electronico:</label>
                                        <p>{{form.email}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <label>Contraseña:</label>
                                        <p>{{form.password1}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <label>Confirmar Contraseña:</label>
                                        <p>{{form.password2}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="form-group form-check form-switch">
                                        <p>{{form.is_staff}}</p>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Es Adminsitrador?</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="form-group form-check form-switch">
                                        <p>{{form.is_active}}</p>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Esta Activo?</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row text">
                                <div class="col-sm-8 ms-4 p-3">
                                    <button class="btn btn-success" type="submit">Guardar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}