{% extends 'base.html' %}

{% load static %}

{% block title %}
Crear Usuarios
{% endblock title %}

{% block content %}

<div class="container-fluid py-4 col-12">
    <div class="row mb-4">
        <div class="col-12 mb-md-0 mb-4">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="row">
                        <div class="col-lg-6 col-7">
                            <h3><i class="fa-solid fa-user-plus fs-2"></i> Usuario Nuevo</h3>
                        </div>
                    </div>
                </div>
                <div class="card-body px-0 pb-2">
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible fade show"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <div class="col ms-4">
                        <form action="" method="post">{% csrf_token %}
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <p>{{form.as_p}}</p>
                                </div>
                            </div>
                            <div class="row text">
                                <div class="col-sm-8 ms-4 p-3">
                                    <button class="btn btn-success fs-5" type="submit"><i class="fa-solid fa-floppy-disk fs-5"></i> Guardar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}