{% extends 'base.html' %}

{% load static %}

{% block title %}
Permisos
{% endblock title %}

{% block route_bar %}
<li class="separator ">
    <i class="fas fa-chevron-right icon-route"></i>
</li>
<li class="nav-item-route ">
    <a href="{% url 'usuarios_app:empleados' %}" class="icon-route">Usuarios</a>
</li>
<li class="separator ">
    <i class="fas fa-chevron-right icon-route"></i>
</li>
<li class="nav-item-route ">
    <a href="#" class="icon-route">Grupos</a>
</li>
{% endblock route_bar %}

{% block content %}

<div class="container-fluid py-4 col-12 ">
    <div class="row mb-4">
        <div class="col-12 mb-md-0 mb-4">
            <div class="card">
                <div class="card-header pt-2">
                    <div class="row">
                        <div class="col-lg-6 col-7">
                            <h3><i class="fa-solid fa-user-group fs-1"></i> Grupos</h3>
                        </div>
                        <div class="col-lg-6 col-5 my-auto text-end">
                            <button type="button" class="btn btn-success btn-sm mb-2" id="btnAdd">
                                <i class="fa-solid fa-plus  opacity-10 fs-3"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body pt-2">
                    <div class="table-responsive">
                        <table class="table table-hover align-items-center mb-0" id="datatable">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        # Grupo
                                    </th>
                                    <th
                                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Nombre Grupo
                                    </th>
                                    <th
                                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Accion
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                
                                <!-- {% for grup in grupos %}
                                    <tr>
                                        <td>{{grup.id}}</td>
                                        <td>{{grup.name}}</td>
                                        <td>
                                            <button href="ver" type="button" class="btn btn-secondary btn-sm btn-flat">
                                                <i class="fa fa-eye fs-6"></i>
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                                    -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Agregar Grupo-->
<div class="modal fade" id="modalGrupo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="">
                    <i class="fa-solid fa-plus fs-4"></i><span> Crear Grupo</span>
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form method="post" action="." id="formGrupo" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group row">
                        <input type="text" class="d-none" name="action" id="action" value="crear" />
                        <input type="text" class="d-none" name="action" id="id_grupo" value="0" />

                        <div class="col-md-12">
                            <label for="">Nombre de grupo:</label>
                            <input type="text" class="form-control" name="nombre" id="nombre" required />
                        </div>
                        <div class="row">
                            <div class="form-group col-12 mt-4 border">
                                <span for="exampleFormControlSelect1">Disponibles:</span>
                                <div class="container border-top" style="height: 300px; max-height: 350px; overflow-y: scroll;" name="contenedor_permisos" id="contenedor_permisos">
                                    {% for prs in permisos %}
                                    <label for=""><input type="checkbox" name="permisos_lista" value="{{prs.id}}"> {{prs.name}}</label><br>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btn">Guardar</button>
            </div>
        </div>
    </div>
</div>
<!-- fin modal add grupo -->

<script>
    var tablaGrupo;
    var modalTitulo = $('.modal-title');

    window.onload = function () {
        $("#btnAdd").on("click", function () {
            modalTitulo.find('span').html('Crear Grupo');
            modalTitulo.find('i').removeClass().addClass('fas fa-plus fs-3');
            $('#action').val('crear');
            $('#formGrupo')[0].reset();
            $('#nombre').focus();

            $('#modalGrupo').modal('show');
        });
        $('#datatable').DataTable();
        obtenerDatos();
    }

    $("#btn").on("click", function () {
        if ($("#nombre").val == "") {
            alert("No puede dejar campos vacios");
        } else {
            submit_with_ajax("", "");
        }
        return false;
    });
    function cargaPermisosGrupo(id_grupo){
        var parametros = new FormData();
        token = $('input[name="csrfmiddlewaretoken"]').val();
        parametros.append('action', "permisos_grupo");
        parametros.append('id', parseInt(id_grupo));
        parametros.append('csrfmiddlewaretoken', token);
        $.ajax({
            url: window.location.pathname,
            type: 'POST',
            data: parametros,
            dataType: "json",
            processData: false,
            contentType: false,
            success: function(data) {
                // alert(data);
                // Recorremos la lista de permisos
                for (var i = 0; i < data.length; i++) {
                    // recorremos los input:checkbox en el modal
                    $('input[name=permisos_lista]').each(function(){
                        // por cada permiso en el modal busca segun el id devuelto en la lista
                        if($(this).val() == data[i]['id']){
                            // cambia el estado de la checbox para los permisos que ya tiene el grupo
                            $(this).prop('checked', true);
                        }
                    });
                }
            }
        });
    }

    $('#datatable tbody').on('click', 'a[rel="editar"]', function () {
        $('#formGrupo')[0].reset();
        var tr = tablaGrupo.cell($(this).closest('td,li')).index();
        var dato = tablaGrupo.row(tr.row).data();

        modalTitulo.find('span').html('Editar Grupo');
        modalTitulo.find('i').removeClass().addClass('fas fa-edit fs-3');

        id_grupo = dato.id;
        $('#action').val("editar");
        $('#id_grupo').val(dato.id);
        $('#nombre').val(dato.name);

        $('#modalGrupo').modal('show');
        cargaPermisosGrupo(id_grupo);
    });

    function submit_with_ajax(url, parametros) {
        var parametros = new FormData();
        var permisos_selec = [];
        $('input[name=permisos_lista]:checked').each(function(){
            permisos_selec.push($(this).val());
        });
        token = $('input[name="csrfmiddlewaretoken"]').val();
        parametros.append('action', $('#action').val());
        parametros.append('nombre', $('#nombre').val());
        parametros.append('id_grupo', parseInt($('#id_grupo').val()));
        parametros.append('permission_list',permisos_selec);
        parametros.append('csrfmiddlewaretoken', token);

        $.ajax({
            url: window.location.pathname,
            type: 'POST',
            data: parametros,
            dataType: 'json',
            contentType: 'multipart/form-data',
            processData: false,
            contentType: false,
            success: function (result) {
                if (result.correcto) {
                    $('#formGrupo')[0].reset();
                    $('#modalGrupo').modal('hide');

                    tablaGrupo.ajax.reload(null, false);

                    switch (result.tipo_accion) {
                        case "crear":
                            texto = "Datos guardados con exito";
                            break;
                        case "editar":
                            texto = "Datos editados con exito";
                            break;
                        case "eliminar":
                            texto = "Dato eliminado con exito";
                            break;
                        default:
                            texto = "";
                    }

                    Swal.fire({
                        icon: 'success',
                        title: 'Correcto',
                        text: texto
                    });

                } else {
                    tablaGrupo.ajax.reload(null, false);
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Ha ocurrido un error al realizar la acción'
                    });
                }
            }
        })
    }

    function obtenerDatos(){
        token = $('input[name="csrfmiddlewaretoken"]').val();
        tablaGrupo = $('#datatable').DataTable({
            responsive: true,
            autoWidth: false,
            destroy: true,
            bSortable: true,
            deferRender: true,
            lenguage: {"url":"//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"},
            ajax: {
                url:window.location.pathname, 
                type: 'POST',
                data: {
                    'action': 'buscardatos',
                    'csrfmiddlewaretoken': token
                },
                dataSrc: ""
            },
            columns: [
                {"data":"id"},
                {"data":"name"},
                {"data":"id"}
            ],
            columnDefs: [
                {
                    targets: [2],
                    class: 'text-center',
                    ordenable: false,
                    render: function(data, type, row){
                        var buttons = `<a rel="editar" class="btn btn-warning btn-sm btn-flat">
                                    <i class="fas fa-edit"></i></a> `;
                        return buttons;
                    }
                },
            ],
        });
    }
</script>

{% endblock content %}