{% extends 'base.html' %}

{% load static %}

{% block title %}
Usuarios
{% endblock title %}

{% block content %}


<div class="container-fluid py-4 col-12">
    <div class="row mb-4">
        <div class="col-12 mb-md-0 mb-4">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="row">
                        <div class="col-lg-6 col-7">
                            <h3><i class="fa-solid fa-users fs-1"></i> Usuarios</h3>
                        </div>
                        <div class="col-lg-6 col-5 my-auto text-end">
                            <a href="{%url 'usuarios_app:departamentos'%}" class="btn btn-success btn-sm mb-2">
                                <i class="fa-solid fa-sitemap opacity-10 fs-3"></i> Departamentos
                            </a>
                            <button type="button" class="btn btn-success btn-sm mb-2" id="btnAdd">
                                <i class="fa-solid fa-user-plus opacity-10 fs-3"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body px-0 pb-2">
                    <div class="table-responsive">
                        <table class="table align-items-center mb-0" id="datatable">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        DNI
                                    </th>
                                    <th
                                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        USUARIO
                                    </th>
                                    <th
                                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        NOMBRE
                                    </th>
                                    <th
                                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        EMAIL
                                    </th>
                                    <th
                                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        ESTADO
                                    </th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        DEPARTAMENTO
                                    </th>
                                    <th
                                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        ACCION
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
 
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal agregar empleados -->

<div class="modal fade" id="modalEmpleado" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered" role="document">

        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="">
                    <i class="fa-solid fa-plus"></i> <span>Crear Usuario</span>
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>

            <div class="modal-body">

                <form method="post" action="." id="form_empleado" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group row">
                        <input type="text" class="d-none" name="action" id="action" value="crear" />
                        <input type="text" class="d-none" id="id_ticket" value="0" />
                        <!-- sep -->
                        <div class="col-md-12">
                            <div class="input-group mb-3">
                                <span class="input-group-text">Identidad</span>
                                <input type="text" class="form-control" name="dni" id="dni" required
                                    area-label="Numero de identidad" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="input-group mb-3">
                                <span class="input-group-text">Nombre</span>
                                <input type="text" class="form-control" name="nombres" id="nombres" required
                                    area-label="Nombres del empleado" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="input-group mb-3">
                                <span class="input-group-text">Apellidos</span>
                                <input type="text" class="form-control" name="apellidos" id="apellidos" required
                                    area-label="Apellidos del empleado" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="input-group mb-3">
                                <span class="input-group-text">Email</span>
                                <input type="email" class="form-control" name="email" id="email" required
                                    area-label="Correo del empleado" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-8">
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="departamento">Departamento:</label>
                                <select name="departamento" id="departamento" class="form-control form-select form-select-sm">
                                    <option selected value="0">--Seleccione--</option>
                                    {% for dep in departamentos %}
                                        <option value="{{dep.id}}"> 
                                            {{dep.nombre_depto}}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="input-group mb-3">
                                <span class="input-group-text">Nombre de usuario</span>
                                <input type="text" class="form-control" name="username" id="username" required
                                    area-label="Usuario del empleado" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="active" id="active">
                                <label class="form-check-label" for="active">Activo</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="staff" id="staff">
                                <label class="form-check-label" for="staff">Administrador</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="input-group mb-3">
                                <span class="input-group-text">Contraseña</span>
                                <input type="password" class="form-control" name="contrasena" id="contrasena" required
                                    area-label="************" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="input-group mb-3">
                                <span class="input-group-text">Confirmar Contraseña</span>
                                <input type="password" class="form-control" name="contrasena2" id="contrasena2" required
                                    area-label="************" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary" id="btn">Guardar</button>
            </div>

        </div>

    </div>

</div>

<!-- Fin agregar empleado -->

<script>
    var modalTitulo = $('.modal-title');
    var tablaEmpleado;
    var es_admin = false;
    var esta_activo = false;

    window.onload = function() {
        $("#btnAdd").on("click", function() {
            modalTitulo.find('span').html('Agregar Empleado');
            modalTitulo.find('i').removeClass().addClass('fa-solid fa-plus');
            $('#action').val("Crear");
            $('#form_empleado')[0].reset();
            $('#nombres').val("");
            $('#apellidos').val("");
            $('#dni').val("");
            $('#departamento').val("0");
            $('#email').val("");
            $('#username').val("");
            $('#active').attr("checked",true);
            $('#staff').attr("checked",false);
            $('#contrasena').val("");
            $('#contrasena2').val("");

            $('#dni').focus();
            
            $('#modalEmpleado').modal('show');
        });
        $('#datatable').DataTable();
        obtenerDatos();
    }

// ==================================== Obtener 
function obtenerDatos() {
        token = $('input[name="csrfmiddlewaretoken"]').val();
        tablaEmpleado = $('#datatable').DataTable({
            responsive: true,
            autoWidth: false,
            destroy: true,
            bSortable: true,
            deferRender: true,
            language: { "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"},
            ajax: {
                url: window.location.pathname, 
                type: 'POST',
                data: {
                    'action': 'buscardatos', 
                    'csrfmiddlewaretoken': token
                }, 
                dataSrc: ""
            },
            columns: [ 
                {
                    "data": "dni"
                },
                {
                    "data": "usuario.usuario"
                },
                {
                    "data": "nombre"
                },
                {
                    "data": "email"
                },
                {
                    "data": "estado.estado"
                },
                {
                    "data": "depto.nombre_depto"
                },
                {
                    "data": "action"
                }
            ], 
            columnDefs: [ //Personalizar una columna
                {
                    targets: [2],
                    render: function (data, type, row) {
                        return data.substr(0, 25) + "...";
                    }
                },
                {
                    targets: [4], //Personalizar la colummna numero 5
                    class: 'text-center',
                    orderable: false,
                    render: function (data, type, row) {
                            if (data == 'activo')
                                return '<span class="badge rounded-pill bg-success fs-6">Activo</span>';
                            else if (data == 'inactivo')
                                return '<span class="badge rounded-pill bg-danger fs-6">Inactivo</span>';
                    }
                },
                {
                    targets: [5],
                    render: function (data, type, row) {
                        return data.substr(0, 25) + "...";
                    }
                },
                {
                    targets: [6], //Personalizar la colummna numero 7
                    class: 'text-center',
                    orderable: false,
                    render: function (data, type, row) {
                        var buttons = `<button rel="verEmpleado" type="button" class='btn btn-secondary btn-sm btn-flat'>
                                        <i class="fa fa-eye fs-6" aria-hidden="true"></i></button>`;
                            buttons += `<a rel="editar" class="btn btn-warning btn-sm btn-flat">
                                        <i class="fas fa-edit"></i></a> `;
                            return buttons;
                    }
                },
            ],
        });
    }
// ==================================== validar form_empleado
    $("#btn").on("click", function () {

        if ($("#dni").val() == "") {
            alert("Falta el numero de identidad");
            $('#dni').focus();

        } else if ($("#nombres").val() == "") {
            alert("Falta el nombre");
            $('#nombres').focus();

        } else if ($("#apellidos").val() == "") {
            alert("Falta el apellido");
            $('#apellidos').focus();

        } else if ($("#departamento").val() == "") {
            alert("Seleccione un departamento");
            $('#departamento').focus();

        } else if ($("#email").val() == "") {
            alert("agregue un correo");
            $('#dni').focus();

        } else if ($("#username").val() == "") {
            alert("Falta un nombre de usuario");
            $('#email').focus();

        } else if ($("#contrasena2").val() != $("#contrasena").val()) {
            alert("Las contraseñas no coinciden");
            $('#contrasena2').focus();

        }else {
            submit_with_ajax("", "");
        }
        return false;
    });

//=========================================== Editar
$('#datatable tbody').on('click', 'a[rel="editar"]', function(){
        var tr = tablaEmpleado.cell($(this).closest('td,li')).index();
        var data = tablaEmpleado.row(tr.row).data();

        modalTitulo.find('span').html(' Editar Empleado');
        modalTitulo.find('i').removeClass().addClass('fas fa-edit fs-3');

        $('#action').val("editar");

        $('#nombres').val(data.nombres);
        $('#apellidos').val(data.apellidos);
        $('#dni').val(data.dni);
        $('#departamento').val(data.depto.id);
        $('#email').val(data.email);
        $('#username').val(data.usuario.usuario);
        if(data.estado.estado == 'activo'){
            $('#active').attr('checked', true);
        }else{
            $('#active').attr('checked', false);
        }
        if(data.staff.staff == 'true'){
            $('#staff').attr('checked', true);
        }else{
            $('#staff').attr('checked', false);
        }
        $('#contrasena').val("");
        $('#contrasena2').val("");
        $('#username').attr('disabled',true);

        $('#dni').focus();

        $('#modalEmpleado').modal('show');
    });

//================================================ Summit AJAX

function submit_with_ajax(url, parametros) {
        var parametros = new FormData();
        token = $('input[name="csrfmiddlewaretoken"]').val();
        parametros.append('action', $('#action').val());

        parametros.append('nombres', $("#nombres").val());
        parametros.append('apellidos', $("#apellidos").val());
        parametros.append('dni', $("#dni").val());
        parametros.append('correo', $('#email').val());
        parametros.append('depto', $("#departamento").val());
        parametros.append('nombre_usuario', $('#username').val());
        parametros.append('contrasena', $('#contrasena').val());
        if(document.getElementById('active').checked == true) {
            parametros.append('active', true)
        }else if (document.getElementById('active').checked == false) {
            parametros.append('active', false)
        }
        if(document.getElementById('staff').checked == true) {
            parametros.append('staff', true)
        }else if (document.getElementById('staff').checked == false) {
            parametros.append('staff', false)
        }
        parametros.append('csrfmiddlewaretoken', token);

        $.ajax({
            url: window.location.pathname, //window.location.pathname
            type: 'POST',
            data: parametros, // parametros,

            dataType: 'json',
            contentType: 'multipart/form-data',
            processData: false,
            contentType: false,
            success: function (result) {
                //alert("Correcto");
                if (result.correcto) {
                    $('#form_empleado')[0].reset();
                    $("#modalEmpleado").modal("hide");
                    tablaEmpleado.ajax.reload(null, false);

                    switch (result.tipo_accion) {
                        case "crear":
                            texto = "Datos guardado con éxito";
                            break;
                        case "editar":
                            texto = "Datos editados con éxito";
                            break;
                        case "eliminar":
                            texto = "Registro eliminado con éxito";
                            break;
                        default:
                            texto = "";
                    }

                    Swal.fire({
                        icon: 'success',
                        title: 'Correcto',
                        text: texto
                    });
                } 
            },
            error: function (data) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: ('Ha ocurrido un error al realizar la acción: ',data.responseJSON.message)
                });

            },
            failure: function () {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Ha ocurrido un error al realizar la acción'
                });
                $('#form_empleado')[0].reset();
                $("#modalEmpleado").modal("hide");
                tablaTicket.ajax.reload(null, false);
            }
        });
    }
</script>

{% endblock content %}