{% extends 'base.html' %}

{% load static %}

{% block title %}
Usuarios
{% endblock title %}

{% block route_bar %}
<li class="separator ">
    <i class="fas fa-chevron-right icon-route"></i>
</li>
<li class="nav-item-route ">
    <a href="#" class="icon-route">Usuarios</a>
</li>
{% endblock route_bar %}

{% block content %}
<div class="container-fluid py-4 col-12">
    <div class="row mb-4">
        <div class="col-12 mb-md-0 mb-4">
            <div class="card col-12">
                <div class="card-header pb-0">
                    <div class="row">
                        <div class="col-lg-6 col-7">
                            <h3><i class="fa-solid fa-sliders fs-1"></i> Parametros</h3>
                        </div>
                    </div>
                </div>
                <div class="card-body px-0 pb-2">
                    <div class="container-fluid col-12 text-center">
                        <div class="d-grid gap-2 d-md-block">
                            <a class="btn btn-outline-info fs-4 m-1" href="{%url 'usuarios_app:departamentos'%}"><i class="fa-solid fa-sitemap fs-2"></i> Departamentos</a>
                            <a class="btn btn-outline-info fs-4 m-1" href="{%url 'usuarios_app:grupos'%}"><i class="fa-solid fa-ballot-check fs-2"></i> Grupos de usuarios</a>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header pt-2">
                    <div class="row">
                        <div class="col-lg-6 col-7">
                            <h3><i class="fa-solid fa-users fs-1"></i> Usuarios</h3>
                        </div>
                        <div class="col-lg-6 col-5 my-auto text-end">
                            <button type="button" class="btn btn-success btn-sm mb-2" id="btnAdd">
                                <i class="fa-solid fa-user-plus opacity-10 fs-3"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body pt-2">
                    <div class="table-responsive">
                        <table class="table align-items-center mb-0" id="datatable">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        DNI
                                    </th>
                                    <th
                                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        USUARIO
                                    </th>
                                    <th
                                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        NOMBRE
                                    </th>
                                    <th
                                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        EMAIL
                                    </th>
                                    <th
                                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        ESTADO
                                    </th>
                                    <th
                                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        DEPARTAMENTO
                                    </th>
                                    <th
                                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        ACCION
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="text-center">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal agregar empleados -->

<div class="modal fade" id="modalEmpleado" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered" role="document">

        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="">
                    <i class="fa-solid fa-plus"></i> <span>Crear Usuario</span>
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>

            <div class="modal-body">

                <form method="post" action="." id="form_empleado" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group row">
                        <input type="text" class="d-none" name="action" id="action" value="crear" />
                        <input type="text" class="d-none" id="id_ticket" value="0" />
                        <!-- sep -->
                        <div class="col-md-12">
                            <div class="input-group mb-3">
                                <span class="input-group-text">Identidad</span>
                                <input type="text" class="form-control" name="dni" id="dni" required
                                    area-label="Numero de identidad" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="input-group mb-3">
                                <span class="input-group-text">Nombre</span>
                                <input type="text" class="form-control" name="nombres" id="nombres" required
                                    area-label="Nombres del empleado" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="input-group mb-3">
                                <span class="input-group-text">Apellidos</span>
                                <input type="text" class="form-control" name="apellidos" id="apellidos" required
                                    area-label="Apellidos del empleado" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="input-group mb-3">
                                <span class="input-group-text">Email</span>
                                <input type="email" class="form-control" name="email" id="email" required
                                    area-label="Correo del empleado" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-8">
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="departamento">Departamento:</label>
                                <select name="departamento" id="departamento"
                                    class="form-control form-select form-select-sm">
                                    <option selected value="0">--Seleccione--</option>
                                    {% for dep in departamentos %}
                                    <option value="{{dep.id}}">
                                        {{dep.nombre_depto}}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-8">
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="grupo">Grupo:</label>
                                <select name="grupo" id="grupo"
                                    class="form-control form-select form-select-sm">
                                    <option selected value="0">--Seleccione--</option>
                                    {% for gr in grupos %}
                                    <option value="{{gr.id}}">
                                        {{gr.name}}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="input-group mb-3">
                                <span class="input-group-text">Nombre de usuario</span>
                                <input type="text" class="form-control" name="username" id="username" required
                                    area-label="Usuario del empleado" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="active" id="active">
                                <label class="form-check-label" for="active">Activo</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="staff" id="staff">
                                <label class="form-check-label" for="staff">Administrador</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="input-group mb-3">
                                <span class="input-group-text">Contraseña</span>
                                <input type="password" class="form-control" name="contrasena" id="contrasena" required
                                    area-label="************" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="input-group mb-3">
                                <span class="input-group-text">Confirmar Contraseña</span>
                                <input type="password" class="form-control" name="contrasena2" id="contrasena2" required
                                    area-label="************" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary" id="btn">Guardar</button>
            </div>

        </div>

    </div>

</div>

<!-- Fin agregar empleado -->

<!-- Modal Desactivar / actviar -->

<div class="modal fade" id="modalDesactivar" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered" role="document">

        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="">
                    <i class="fa-solid fa-user-lock"></i> <span>Desactivar Usuario</span>
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>

            <div class="modal-body">

                <form method="post" action="." id="form_desactivar" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group row">
                        <input type="text" class="d-none" name="d_action" id="d_action" value="crear" />
                        <!-- sep -->
                        <div class="form-group row">
                            <div class="col-md-12">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">El usuario a desactivar es: </span>
                                    <input type="text" class="form-control" name="d_username" id="d_username" required
                                        disabled />
                                </div>
                            </div>
                        </div>
                    </div>


                </form>
            </div>

            <div class="modal-footer">
                <a type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</a>
                <button type="submit" class="btn btn-primary" id="btn_d"><span>Desactivar</span></button>
            </div>

        </div>

    </div>

</div>
<!-- Fin Modal cambiar contraseñas -->

<!-- Modal cambiar contraseñas -->
<div class="modal fade" id="modalPassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered" role="document">

        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="">
                    <i class="fa-solid fa-user-lock"></i> <span>cambiar Contraseña</span>
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>

            <div class="modal-body">

                <form method="post" action="." id="form_password" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group row">
                        <input type="text" class="d-none" name="p_action" id="p_action" value="crear" />
                        <!-- sep -->
                        <div class="form-group row">
                            <div class="col-md-12">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Cambiar contraseña para el usuario: </span>
                                    <input type="text" class="form-control" name="p_username" id="p_username" required
                                        disabled />
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="input-group mb-3">
                                <span class="input-group-text">Contraseña</span>
                                <input type="password" class="form-control" name="p_contrasena" id="p_contrasena"
                                    required area-label="************" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="input-group mb-3">
                                <span class="input-group-text">Confirmar Contraseña</span>
                                <input type="password" class="form-control" name="p_contrasena2" id="p_contrasena2"
                                    required area-label="************" />
                            </div>
                        </div>
                    </div>

                </form>
            </div>

            <div class="modal-footer">
                <a type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</a>
                <button type="submit" class="btn btn-primary" id="btn_p"><span>Cambiar</span></button>
            </div>
        </div>
    </div>
</div>
<!-- Fin Modal cambiar contraseñas -->

<script>
    var modalTitulo = $('.modal-title');
    var butonFooter = $('.modal-footer');
    var tablaEmpleado;
    var es_admin = false;
    var esta_activo = false;

    window.onload = function () {
        $("#btnAdd").on("click", function () {
            modalTitulo.find('span').html('Agregar Empleado');
            modalTitulo.find('i').removeClass().addClass('fa-solid fa-plus');
            $('#action').val("Crear");
            $('#form_empleado')[0].reset();
            $('#nombres').val("");
            $('#apellidos').val("");
            $('#dni').val("");
            $('#departamento').val("0");
            $('#grupo').val("0");
            $('#email').val("");
            $('#username').val("");
            $('#active').attr("checked", true);
            $('#staff').attr("checked", false);
            $('#contrasena').val("");
            $('#contrasena2').val("");

            $('#dni').focus();

            $('#modalEmpleado').modal('show');
        });
        $('#datatable').DataTable();
        obtenerDatos();
    }
    $(document).ready(function(){
        $('#departamento').select2({
            dropdownParent:  $('#modalEmpleado'),
            theme: 'bootstrap-5'
        });
        $('#grupo').select2({
            dropdownParent:  $('#modalEmpleado'),
            theme: 'bootstrap-5'
        });
    });

    // ==================================== Obtener 
    function obtenerDatos() {
        token = $('input[name="csrfmiddlewaretoken"]').val();
        tablaEmpleado = $('#datatable').DataTable({
            responsive: true,
            autoWidth: false,
            destroy: true,
            bSortable: true,
            deferRender: true,
            language: {
                "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
            },
            ajax: {
                url: window.location.pathname,
                type: 'POST',
                data: {
                    'action': 'buscardatos',
                    'csrfmiddlewaretoken': token
                },
                dataSrc: ""
            },
            columns: [{
                    "data": "dni"
                },
                {
                    "data": "usuario.usuario"
                },
                {
                    "data": "nombre"
                },
                {
                    "data": "email"
                },
                {
                    "data": "estado.estado"
                },
                {
                    "data": "depto.nombre_depto"
                },
                {
                    "data": "action"
                }
            ],
            columnDefs: [ //Personalizar una columna
                {
                    targets: [2],
                    render: function (data, type, row) {
                        return data.substr(0, 25) + "...";
                    }
                },
                {
                    targets: [4], //Personalizar la colummna numero 5
                    class: 'text-center',
                    orderable: false,
                    render: function (data, type, row) {
                        if (data == 'activo')
                            return '<button rel="desactivar" type="buton" class="btn badge rounded-pill bg-success fs-6 btn-sm btn-flat">Activo</button>';
                        else if (data == 'inactivo')
                            return '<button rel="activar" type="buton" class="btn badge rounded-pill bg-danger fs-6 btn-sm btn-flat">Inactivo</button>';
                    }
                },
                {
                    targets: [5],
                    render: function (data, type, row) {
                        return data.substr(0, 25) + "...";
                    }
                },
                {
                    targets: [6], //Personalizar la colummna numero 7
                    class: 'text-center',
                    orderable: false,
                    render: function (data, type, row) {
                        var buttons = `<button rel="cambiar_pass" type="button" class='btn btn-secondary btn-sm btn-flat m-1'>
                                        <i class="fa-solid fa-key"></i></button>`;
                        buttons += `<button rel="editar" class="btn btn-warning btn-sm btn-flat">
                                        <i class="fas fa-edit"></i></button> `;
                        return buttons;
                    }
                },
            ],
        });
    }
    // ==================================== validar form_empleado
    $("#btn").on("click", function () {

        if ($("#dni").val() == "") {
            alert("Falta el numero de identidad");
            $('#dni').focus();

        } else if ($("#nombres").val() == "") {
            alert("Falta el nombre");
            $('#nombres').focus();

        } else if ($("#apellidos").val() == "") {
            alert("Falta el apellido");
            $('#apellidos').focus();

        } else if ($("#departamento").val() == "0") {
            alert("Seleccione un departamento");
            $('#departamento').focus();

        } else if (($("#grupo").val() == "0") || ($("#grupo").val() == "") || ($("#grupo").val() == null)) {
            alert("Seleccione un grupo");
            $('#departamento').focus();

        } else if ($("#email").val() == "") {
            alert("agregue un correo");
            $('#dni').focus();

        } else if ($("#username").val() == "") {
            alert("Falta un nombre de usuario");
            $('#email').focus();

        } else if ($("#contrasena2").val() != $("#contrasena").val()) {
            alert("Las contraseñas no coinciden");
            $('#contrasena2').focus();

        } else {
            submit_with_ajax("", "");
        }
        return false;
    });

    function cargaGrupo(username){
        var parametros = new FormData();
        token = $('input[name="csrfmiddlewaretoken"]').val();
        parametros.append('action', "grupo_usuario");
        parametros.append('username', username);
        parametros.append('csrfmiddlewaretoken', token);
        $.ajax({
            url: window.location.pathname,
            type: 'POST',
            data: parametros,
            dataType: "json",
            processData: false,
            contentType: false,
            success: function(data) {
                // alert(data);
                // Recorremos la lista de permisos
                for (var i = 0; i < data.length; i++) {
                    // recorremos los input:checkbox en el modal
                    $('#nombres').val(data[0]);
                    $('#apellidos').val(data[1]);
                    $('#grupo').val(data[2]);
                }
            }
        });
    }

    //=========================================== Editar
    $('#datatable tbody').on('click', 'button[rel="editar"]', function () {
        var tr = tablaEmpleado.cell($(this).closest('td,li')).index();
        var data = tablaEmpleado.row(tr.row).data();

        modalTitulo.find('span').html(' Editar Empleado');
        modalTitulo.find('i').removeClass().addClass('fas fa-edit fs-3');

        $('#action').val("editar");
        username = data.usuario.usuario;
        $('#dni').val(data.dni);
        $('#departamento').val(data.depto.id);
        $('#email').val(data.email);
        $('#username').val(data.usuario.usuario);
        if (data.estado.estado == 'activo') {
            $('#active').attr('checked', true);
        } else {
            $('#active').attr('checked', false);
        }
        if (data.staff.staff == 'true') {
            $('#staff').attr('checked', true);
        } else {
            $('#staff').attr('checked', false);
        }
        $('#contrasena').val("");
        $('#contrasena2').val("");
        $('#username').attr('disabled', true);

        $('#dni').focus();

        $('#modalEmpleado').modal('show');
        
        cargaGrupo(username);
    });

    //================================================ desactivar / activar usuarios

    $('#datatable tbody').on('click', 'button[rel="activar"]', function () {
        modalTitulo.find('span').html('Activar Empleado');
        butonFooter.find('span').html('Activar');
        var tr = tablaEmpleado.cell($(this).closest('td,li')).index();
        var data = tablaEmpleado.row(tr.row).data();
        $('#d_action').val("activar_user");
        $('#d_username').val(data.usuario.usuario);

        $('#modalDesactivar').modal('show');
    });
    //--------------------------
    $('#datatable tbody').on('click', 'button[rel="desactivar"]', function () {
        modalTitulo.find('span').html('Desactivar Empleado');
        butonFooter.find('span').html('Desactivar');
        var tr = tablaEmpleado.cell($(this).closest('td,li')).index();
        var data = tablaEmpleado.row(tr.row).data();
        $('#d_action').val("desactivar_user");
        $('#d_username').val(data.usuario.usuario);

        $('#modalDesactivar').modal('show');
    });

    $("#btn_d").on("click", function () {
        d_users_ajax("", "");
    });
    // --------------------------summit activar/desactivar
    function d_users_ajax(url, parametros) {
        var parametros = new FormData();
        token = $('input[name="csrfmiddlewaretoken"]').val();
        parametros.append('action', $('#d_action').val());
        parametros.append('nombre_usuario', $('#d_username').val());
        parametros.append('csrfmiddlewaretoken', token);
        $.ajax({
            url: window.location.pathname, //window.location.pathname
            type: 'POST',
            data: parametros, // parametros,

            dataType: 'json',
            contentType: 'multipart/form-data',
            processData: false,
            contentType: false,
            success: function (result) {
                //alert("Correcto");
                if (result.correcto) {
                    tablaEmpleado.ajax.reload(null, false);
                    $('#form_desactivar')[0].reset();
                    $("#modalDesactivar").modal("hide");
                    switch (result.tipo_accion) {
                        case "desactivar_user":
                            texto = "Usuario desactivado con éxito";
                            break;
                        default:
                            texto = "";
                    }

                    Swal.fire({
                        icon: 'success',
                        title: 'Correcto',
                        text: texto
                    });
                }
            },
            error: function (data) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: ('Ha ocurrido un error al realizar la acción: ', data.responseJSON
                        .message)
                });

            },
            failure: function () {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Ha ocurrido un error al realizar la acción'
                });
                $('#form_desactivar')[0].reset();
                $("#modalDesactivar").modal("hide");
                tablaEmpleado.ajax.reload(null, false);
            }
        });
    }
    //================================================ Summit principal

    function submit_with_ajax(url, parametros) {
        var parametros = new FormData();
        token = $('input[name="csrfmiddlewaretoken"]').val();
        parametros.append('action', $('#action').val());

        parametros.append('nombres', $("#nombres").val());
        parametros.append('apellidos', $("#apellidos").val());
        parametros.append('dni', $("#dni").val());
        parametros.append('correo', $('#email').val());
        parametros.append('depto', $("#departamento").val());
        parametros.append('id_grupo', $("#grupo").val());
        parametros.append('nombre_usuario', $('#username').val());
        parametros.append('contrasena', $('#contrasena').val());
        parametros.append('contrasena2', $('#contrasena').val());
        if (document.getElementById('active').checked == true) {
            parametros.append('active', true)
        } else if (document.getElementById('active').checked == false) {
            parametros.append('active', false)
        }
        if (document.getElementById('staff').checked == true) {
            parametros.append('staff', true)
        } else if (document.getElementById('staff').checked == false) {
            parametros.append('staff', false)
        }
        parametros.append('csrfmiddlewaretoken', token);

        $.ajax({
            url: window.location.pathname, //window.location.pathname
            type: 'POST',
            data: parametros, // parametros,

            dataType: 'json',
            contentType: 'multipart/form-data',
            processData: false,
            contentType: false,
            success: function (result) {
                //alert("Correcto");
                if (result.correcto) {
                    $('#form_empleado')[0].reset();
                    $("#modalEmpleado").modal("hide");
                    tablaEmpleado.ajax.reload(null, false);

                    switch (result.tipo_accion) {
                        case "crear":
                            texto = "Datos guardado con éxito";
                            break;
                        case "editar":
                            texto = "Datos editados con éxito";
                            break;
                        default:
                            texto = "";
                    }

                    Swal.fire({
                        icon: 'success',
                        title: 'Correcto',
                        text: texto
                    });
                }
            },
            error: function (data) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: ('Ha ocurrido un error al realizar la acción: ', data.responseJSON
                        .message)
                });

            },
            failure: function () {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Ha ocurrido un error al realizar la acción'
                });
                $('#form_empleado')[0].reset();
                $("#modalEmpleado").modal("hide");
                tablaEmpleado.ajax.reload(null, false);
            }
        });
    }

    //=============================== Cambiar contraseñas
    // ==================================== validar form_empleado
    $("#btn_p").on("click", function () {

        if ($("#p_contrasena2").val() != $("#p_contrasena").val()) {
            alert("Las contraseñas no coinciden");
            $('#contrasena2').focus();

        } else {
            password_ajax("", "");
        }
        return false;
    });
    //================================================

    $('#datatable tbody').on('click', 'button[rel="cambiar_pass"]', function () {
        var tr = tablaEmpleado.cell($(this).closest('td,li')).index();
        var data = tablaEmpleado.row(tr.row).data();
        $('#p_action').val("cambiar_psw");
        $('#p_username').val(data.usuario.usuario);

        $('#modalPassword').modal('show');
    });
    // ================================= sumit password
    function password_ajax(url, parametros) {
        var parametros = new FormData();
        token = $('input[name="csrfmiddlewaretoken"]').val();
        parametros.append('action', $('#p_action').val());
        parametros.append('nombre_usuario', $('#p_username').val());
        parametros.append('p_contrasena', $('#p_contrasena').val());
        parametros.append('p_contrasena2', $('#p_contrasena2').val());
        parametros.append('csrfmiddlewaretoken', token);
        $.ajax({
            url: window.location.pathname, //window.location.pathname
            type: 'POST',
            data: parametros, // parametros,

            dataType: 'json',
            contentType: 'multipart/form-data',
            processData: false,
            contentType: false,
            success: function (result) {
                if (result.correcto) {
                    tablaEmpleado.ajax.reload(null, false);
                    $('#form_password')[0].reset();
                    $("#modalPassword").modal("hide");
                    switch (result.tipo_accion) {
                        case "cambiar_psw":
                            texto = "USe cambio la contraseña con exito";
                            break;
                        default:
                            texto = "";
                    }

                    Swal.fire({
                        icon: 'success',
                        title: 'Correcto',
                        text: texto
                    });
                }
            },
            error: function (data) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: ('Ha ocurrido un error al realizar la acción: ', data.responseJSON
                        .message)
                });

            },
            failure: function () {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Ha ocurrido un error al realizar la acción'
                });
                $('#form_password')[0].reset();
                $("#modalPassword").modal("hide");
                tablaEmpleado.ajax.reload(null, false);
            }
        });
    }
    

</script>
{% endblock content %}