
.page-up-fixed {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  text-align: center;
  color: #fff;
  width: 2.75rem;
  height: 2.75rem;
  background: rgba(90, 92, 105, .5);
  line-height: 46px;
  border-radius: .35rem;
  -webkit-border-radius: .35rem;
  -moz-border-radius: .35rem;
  -ms-border-radius: .35rem;
  -o-border-radius: .35rem;
}
.cant {
  width: 180px; 
  height: 150px;
  max-width: 180px;
  max-height: 150px;
  min-width: 135px; 
  min-height: 150px;
  }