
.page-up-fixed {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  text-align: center;
  color: #fff;
  width: 2.75rem;
  height: 2.75rem;
  background: rgba(90, 92, 105, .5);
  line-height: 46px;
  border-radius: .35rem;
  -webkit-border-radius: .35rem;
  -moz-border-radius: .35rem;
  -ms-border-radius: .35rem;
  -o-border-radius: .35rem;
}
.cant {
  width: 180px; 
  height: 150px;
  max-width: 180px;
  max-height: 150px;
  min-width: 135px; 
  min-height: 150px;
  }

  
  .card{
    position: inherit;
  }

.accordion-button {
    position: inherit;
  }
  .card-body{
    position: inherit;
  }

  .contenedor{
    position: inherit;
    overflow-y: scroll;
  }

.dataTables_wrapper{
    position: inherit;
    
  }

  .dataTables_wrapper{
    position: inherit;
  }
  thead {
    position: inherit;
  }

  
element.style {
  width: 58px;
}
table.dataTable thead>tr>th.sorting, table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc, table.dataTable thead>tr>th.sorting_asc_disabled, table.dataTable thead>tr>th.sorting_desc_disabled, table.dataTable thead>tr>td.sorting, table.dataTable thead>tr>td.sorting_asc, table.dataTable thead>tr>td.sorting_desc, table.dataTable thead>tr>td.sorting_asc_disabled, table.dataTable thead>tr>td.sorting_desc_disabled{
  position: inherit;
}