.scrollarea {
  position: relative;
  display: block;
  overflow: auto;
}
.noscroll-container{
  display: flex;
  position: sticky;
}


/* ===================================New Sidebar==========================*/

/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



 
    
:root{
    /* ===== Colors ===== */
    --body-color: #f5f5f5;
    --sidebar-color: #FFF;
    --sidebar-menu-color: #0d5915;
    --primary-color: #1bb830;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #ffffff;
    --horizontal_content-nav_vertcal-bar:#d2f0d6;
    --horizontal_content-nav_vertcal-bar-text-color:#ffffff;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}

body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}

/* ===== Sidebar ===== */
 .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
   
    background: var(--sidebar-menu-color);
    transition: var(--tran-05);
    
    cursor: pointer;
}
.sidebar.close{
    width: 88px;
    cursor: pointer;
    
}



/* ===== Reusable code - Here ===== */
.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}
/* =========================== */

.sidebar header{
    position: relative;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession{
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
    width: 40px;
    border-radius: 6px;
}





.sidebar .menu{
    margin-top: 40px;
}


.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon{
    height: 50px;
    width: 60px;
}

.mode .sun-moon i{
    position: absolute;
}
.mode .sun-moon i.sun{
    opacity: 0;
}
body.dark .mode .sun-moon i.sun{
    opacity: 1;
}
body.dark .mode .sun-moon i.moon{
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before{
    left: 20px;
}




/* Fixed sidenav, full height */
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Style the sidenav links and the dropdown button */
  .sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  
  /* On mouse-over */
  .sidenav a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
  }
  
  /* Main content */
  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  /* Add an active class to the active dropdown button */
  .active {
    background-color: green;
    color: white;
  }
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
  }
  
  /* Optional: Style the caret down icon */
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }

/*- nav horizontal-*/

.horizontal_content{
    position: relative;
    left: 250px;
    background-color: var(--panel-color);
    min-height: 100vh;
    width: calc(100% - 250px);
    
    transition: var(--tran-05);
}

nav.close ~ .horizontal_content{
    left: 87px;
    width: calc(100% - 87px);
    /*-width: calc(100%);
    margin-right: 10px;-*/
}

.horizontal_content .nav_vertcal{
    position: fixed;
    top: 0;
    left: 251px;
    display: flex;
    
    width: calc(100% - 250px);
    justify-content: space-between;
    align-items: center;
    padding: 3px 14px;
    background-color: var(--horizontal_content-nav_vertcal-bar);
    transition: var(--tran-05);
    
}
nav.close ~ .horizontal_content .nav_vertcal{
    left: 88px;
    width: calc(100% );
}


@media screen and (max-width: 767px) {
    /* Aquí van los estilos para tablets medianas */
    .sidebar.close{
        display:none;
    }
    .horizontal_content .nav_vertcal{
        
        width: calc(100%);
        position: static;
    }
    
    
    
    nav.close  .horizontal_content{
        left: 0px;
        width: calc(100% );
        
    }

    nav.close  .horizontal_content .nav_vertcal {
        left: 0px;
        width: calc(100% );
    }
    nav.close ~ .horizontal_content{
        left: 0px;
        width: calc(100%);
        
    }

    
   
}

.sidebar-toggle{
    font-size: 26px;
    color: var(--sidebar-menu-color);
    cursor: pointer;
}



.nav_vertcal img{
    width: 40px;
    border-radius: 50%;
}


.horizontal_content .dash-content{
    padding-top: 50px;
}
.dash-content .title{
    display: flex;
    align-items: center;
    margin: 60px 0 30px 0;
}



.horizontal_content .breadcrumbs{
    
    display: flex;

    list-style: none;
    width: auto;
    border-left: 1px solid #efefef;
    margin-left: 25px;
    padding-left: 25px;
    
    padding-top: 8px;
    padding-bottom: 8px;
    height: 100%;
}

.horizontal_content .breadcrumbs{
    
    display: flex;

    list-style: none;
    width: auto;
    border-left: 1px solid #efefef;
    margin-left: 25px;
    padding-left: 15px;
    
    padding-bottom: 8px;
    height: 100%;
}

.horizontal_content .separator{
    
    display: flex;

    list-style: none;
    width: auto;
    border-left: 1px solid #efefef;
   
    padding-left: 15px;
    
    padding-top: 6px;
    height: 100%;
}
.horizontal_content .nav-home-route{
    
    display: flex;

    list-style: none;
    width: auto;
    
   
  
    
    height: 100%;
}
.horizontal_content .nav-item-route{
    
    display: flex;

    list-style: none;
    width: auto;
    border-left: 1px solid #efefef;
    
    padding-left: 20px;
    
    height: 100%;
}
.icon-route{
    color: #0d5917;
}
