{% extends 'base.html' %}

{% load static %}

{% block title %}
Asignaciones
{% endblock title %}

{% block content %}

<div class="container-fluid py-4">
    <div class="row mb-4">
        <div class="col-lg-12 col-md-8 mb-md-0 mb-4">
            <div class="card">
                <div class="card-body px-0 pb-2 ms-2 me-2">
                    <div class="wrapper bg-white rounded shadow">
                        <div class="accordion accordion-flush border-top border-start border-end" id="myAccordion">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingOne"> <button
                                        class="accordion-button collapsed border-0" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#flush-collapseOne"
                                        aria-expanded="false" aria-controls="flush-collapseOne"> Busqueda avanzada
                                    </button> </h2>
                                <div id="flush-collapseOne" class="accordion-collapse collapse border-0"
                                    aria-labelledby="flush-headingOne" data-bs-parent="#myAccordion">
                                    <div class="accordion-body">
                                        <div class="container">
                                            <div class="row col-12 p-0">
                                                <div class="form-check form-switch ms-5">
                                                    <input class="form-check-input fs-4" type="checkbox" role="switch" id="busquedaSW">
                                                    <label class="form-check-label fs-5" for="busquedaSW">Habilitar Busqueda Avanzada</label>
                                                </div>
                                            </div>
                                            <div class="row col-12 p-0 mt-3">
                                                <div class="input-group mb-3 mt-1">
                                                    <span class="input-group-text" id="basic-addon1">Termino de busqueda</span>
                                                    <input type="text" id="busqueda" name="busqueda" class="form-control" placeholder="Usuario, DNI o Nombre del Item" aria-label="Nombre, DNI o Nombre del Item" aria-describedby="basic-addon1" disabled>
                                                </div>
                                            </div>
                                            <div class="row col-2">
                                                <button type="button" class="btn btn-primary ms-3" id="btnBuscar" disabled>Buscar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-lg-12 col-md-8 mb-md-0 mb-4">
            <div class="card">
                <div class="card-header pt-2">
                    <div class="row">
                        <div class="col-lg-6 col-7">
                            <h4><i class="fa-solid fa-arrow-right-from-arc fs-3"></i> Historial de Asignaciones</h4>
                        </div>
                        <div class="col-lg-6 col-5 my-auto text-end">
                            <button type="button" class="btn btn-success btn-sm mb-2 me-2" id="btnAdd">
                                <i class="fa-solid fa-plus opacity-10 fs-4" aria-hidden="true"></i>
                            </button>
                        </div>

                    </div>
                </div>
                <div class="card-body pt-2">
                    <table class="table align-items-center mb-0" id="datatable">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    # No.
                                </th>
                                <th
                                    class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    Usuario
                                </th>
                                <th
                                    class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    Equipo
                                </th>
                                <th
                                    class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    Tipo
                                </th>
                                <th
                                    class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    Fecha
                                </th>
                                <th
                                    class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    Nota
                                </th>
                                <th
                                    class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    Accion
                                </th>
                            </tr>
                        </thead>
                        <tbody class="text-center">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Inicio Agregar -->
<div class="modal fade" id="modalAsignacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered" role="document">

        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="modal-title">
                    <i class="fa-solid fa-plus"></i><span> Asignar Equipo</span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>

            <div class="modal-body">

                <form method="post" action="." id="form_asignar" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="equipo">Equipo:</label>
                                <select name="equipo" id="equipo" class="form-control form-select form-select-sm"  data-show-subtext="false" data-live-search="true">
                                    <option selected value="0">--Seleccione--</option>
                                    {% for itm in invent %}
                                    
                                        {% if itm.estado.id == 2 %}
                                            <option value="{{itm.pk}}"> 
                                                {{itm.correlativo}} | {{itm.nombre_item}}
                                            </option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <input type="text" class="d-none" name="action" id="action" value="crear" />
                        <input type="text" class="d-none" id="id_asignacion" value="0" />
                        <!-- sep -->
                        <div class="col-md-12">
                            <div class="input-group mb-3">
                                <label class="input-group-text">Usuario:</label>
                                <select name="usuario" id="usuario" class="form-control form-select form-select-sm">
                                    <option selected value="0">--Seleccione--</option>
                                    {% for usr in usuarios %}
                                        <option value="{{usr.pk}}"> 
                                            {{usr.username}}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="input-group mb-3">
                                <span class="input-group-text">Nota</span>
                                <textarea maxlength="500" type="text" class="form-control" id="nota" name="nota" class="form-control"
                                required aria-label="Notas en la Asignacion"></textarea>
                            </div>
                        </div>
                    </div>
                </form>

            </div>

            <div class="modal-footer">
                <!-- agregar validacion de estado, si ya esta asignado no debe asignarse de nuevo -->
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary" id="btn">Guardar</button>
            </div>

        </div>

    </div>

</div>
<!-- Fin Agregar -->

<script>
    var modalTitulo = $('#modal-title');
    var tablaAsignacion;
    var habBusqueda = false;
    var busqueda = "";

    window.onload = function () {
        modalTitulo.find('span').html(' Asignar Equipo');
        modalTitulo.find('i').removeClass().addClass('fa-solid fa-plus');
        //alert("Pagina cargada");
        $('#datatable').DataTable();
        obtenerDatos();
    }
    
    $(document).ready(function () {
        $('#busquedaSW').on('change', function () {
            if ($(this).is(':checked')) {
                $('#busqueda').removeAttr("disabled");
                habBusqueda = true;
            }else{
                $('#busqueda').val("");
                $('#busqueda').attr('disabled','disabled');
                $("#btnBuscar").attr('disabled','disabled');
                habBusqueda = false;
                busqueda ="";
            }
        });
        $('#busqueda').on("keypress", function (e) {
            var keyCode = e.keyCode || e.which;
            var key = e.key;
            var regex = /^[A-Za-z0-9]+$/;
            if (!regex.test(key) && keyCode != 8 && keyCode != 9 && keyCode != 37 && keyCode != 39) {
                e.preventDefault();
            }
        });
        $('#busqueda').on("keyup", function(){
            if($(this).val() !== ""){
                $("#btnBuscar").removeAttr("disabled");
            }else{
                $("#btnBuscar").attr('disabled','disabled');
            }
        });
        
    });

    $("#btnBuscar").on("click", function () {
            busqueda = $('#busqueda').val();
            obtenerDatos(); 
        }
    );

    //=================================================Ver y descargar=============================================================
    $("#btnAdd").on("click", function () {
            modalTitulo.find('span').html(' Asignar Equipo');
            modalTitulo.find('i').removeClass().addClass('fa-solid fa-plus');
            $('#equipo').html(
                `<option selected value="0">--Seleccione--</option>
                {% for itm in invent %}
                    {% if itm.estado.id == 2 %}
                        <option value="{{itm.pk}}"> 
                            {{itm.correlativo}} | {{itm.nombre_item}}
                        </option>
                    {% endif %}
                {% endfor %}`
            );
            $('#action').val("crear");
            $('#form_asignar')[0].reset();
            $('#nota').val("");
            $("#equipo").attr("disabled",false);
            $("#usuario").attr("disabled",false);
            $("#nota").attr("disabled",false);
            $('#Equipo').focus();
            $("#btn").text('Asignar');

            $('#modalAsignacion').modal('show');
        }
    );
    $('#datatable tbody').on('click', 'a[rel="verAsignacion"]', function () {
            var tr = tablaAsignacion.cell($(this).closest('td, li')).index();
            var data = tablaAsignacion.row(tr.row).data();
            $('#form_asignar')[0].reset();
            $('#equipo').html(
                `{% for itm in invent %}
                    <option value="{{itm.pk}}"> 
                        {{itm.correlativo}} | {{itm.nombre_item}}
                    </option>
                {% endfor %}`
            );
            modalTitulo.find('span').html(' Asignar Equipo');
            modalTitulo.find('i').removeClass().addClass('fa-solid fa-plus');
            
            $("#equipo").val(data.inventario_item.id);
            $("#usuario").val(data.usuario.id);
            $("#nota").val(data.observaciones);
            $("#usuario").attr("disabled",true);
            $("#equipo").attr("disabled",true);
            $("#nota").attr("disabled",true);
            $("#btn").hide();

            $("#modalAsignacion").modal("show");
        }
    );

    $('#datatable tbody').on('click', 'a[rel="pdf"]', function () {
            var tr = tablaAsignacion.cell($(this).closest('td, li')).index();
            var data = tablaAsignacion.row(tr.row).data();
            
            asignacion_id  = data.id;
            Swal.fire({
                title: '¿Imprimir el archivo?',
                icon: 'info',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sí',
                cancelButtonText: 'No'
            }).then((result) => {
                if (result.isConfirmed) {
                window.open("{% url 'asignaciones_app:nota_asg' %}?asignacion_id=" +asignacion_id);
                }
            })
        }
    );
    $('#datatable tbody').on('click', 'a[rel="descarte"]', function () {
            var tr = tablaAsignacion.cell($(this).closest('td, li')).index();
            var data = tablaAsignacion.row(tr.row).data();
            $('#form_asignar')[0].reset();
            $('#equipo').html(
                `{% for itm in invent %}
                    <option value="{{itm.pk}}"> 
                        {{itm.correlativo}} | {{itm.nombre_item}}
                    </option>
                {% endfor %}`
            );
            modalTitulo.find('span').html(' Descartar Equipo Asignado');
            modalTitulo.find('i').removeClass().addClass('fa-solid fa-user-minus');
            $('#action').val("descargo");
            $("#equipo").val(data.inventario_item.id);
            $("#usuario").val(data.usuario.id);
            $("#nota").val("");
            $('#id_asignacion').val(data.id);
            $("#usuario").attr("disabled",true);
            $("#equipo").attr("disabled",true);
            $("#nota").attr("disabled",false);
            $("#btn").show();
            $("#btn").text('Descargo');

            $("#modalAsignacion").modal("show");
        }
    );

    //================================================== Obtener Datos===========================================================
    function obtenerDatos() {
        token = $('input[name="csrfmiddlewaretoken"]').val();
        tablaAsignacion = $('#datatable').DataTable({
            responsive: true,
            autoWidth: false,
            destroy: true,
            bSortable: true,
            deferRender: true,
            language: { "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"},
            ajax: {
                url: window.location.pathname, //Obtenemos la url obsoluta
                type: 'POST',
                data: {
                    'action': 'buscardatos', //Mandamos la accion para que django sepa que tiene que buscar
                    'habBusqueda': habBusqueda,
                    'busqueda': busqueda,
                    'csrfmiddlewaretoken': token
                }, // parametros
                dataSrc: ""
            },
            columns: [ //Columnas de nuestro modelo/Tabla aqui retorna o pinta los valores en la datables
                {
                    "data": "id"
                },
                {
                    "data": "usuario.username"
                },
                {
                    "data": "inventario_item.correlativo"
                },
                {
                    "data": "status"
                },
                {
                    "data": "assigned_date"
                },
                {
                    "data": "observaciones"
                },
                {
                    "data": "status"
                },
            ], 
            columnDefs: [ //Personalizar una columna
                {
                    targets: [0], //Personalizar la colummna numero 6
                    class: 'text-center',
                    orderable: false, //
                },
                {
                    targets: [5],
                    render: function (data, type, row) {
                        return data.substr(0, 25) + "...";
                    }
                },
                {
                    targets: [3], //Personalizar la colummna numero 5
                    class: 'text-center',
                    orderable: false,
                    render: function (data, type, row) {
                            if (data == 'ASIGNADO')
                                return '<span class="badge rounded-pill bg-primary fs-6">Asignacion</span>';
                            else if (data == 'DESCARGO')
                                return '<span class="badge rounded-pill bg-warning text-dark fs-6">Descargo</span>';
                    }
                },
                {
                    targets: [6], //Personalizar la colummna numero 6
                    class: 'text-center',
                    orderable: false,
                    render: function (data, type, row) {
                        var buttons = `<a rel="verAsignacion" title="Ver" class='btn btn-secondary btn-sm btn-flat mx-1 test-popup-link'>
                                        <i class="fa-solid fa-eye fs-6" aria-hidden="true"></i></a>`;
                            buttons += `<a rel="pdf" title="Imprimir PDF" class='btn btn-info btn-sm btn-flat mx-1' target="blank">
                                        <i class="fa-solid fa-file-pdf fs-6 p-0" aria-hidden="true"></i></a>`;
                            if (data == 'ASIGNADO')
                                buttons += `<a rel="descarte" title="Descargo" class='btn btn-danger btn-sm btn-flat mx-1 test-popup-link'>
                                            <i class="fa-solid fa-user-minus fs-6" aria-hidden="true"></i></a>`;
                            
                            return buttons;
                    }
                },
                
            ],
            order: [[0,'desc']],
        });
    }

    //==================================================validar formularios=======================================================
    $("#btn").on("click", function () {

        if ($("#usuario").val() == "") {
            alert("Falta el usuario al que se le asignara el equipo");

        } else if ($("#equipo").val() == "") {
            alert("Falta el equipo a asignar");

        } else if ($("#nota").val() == "") {
            alert("Faltan las observaciones del equipo a asignar");

        } else {
            submit_with_ajax("", "");
        }
        return false;
    });

    //================================================Función AJAX======================================================

    function submit_with_ajax(url, parametros) {
        var parametros = new FormData();
        token = $('input[name="csrfmiddlewaretoken"]').val();
        action = $('#action').val();
        item = $("#equipo").val();
        parametros.append('action', action);
        if (action == 'descargo' || action == 'pdf') {
            parametros.append('id_asignacion', $('#id_asignacion').val());
        }
        parametros.append('usuario_asignar', $("#usuario").val());
        parametros.append('observaciones', $("#nota").val());
        parametros.append('item_id', $("#equipo").val());
        parametros.append('habBusqueda', habBusqueda);
        parametros.append('csrfmiddlewaretoken', token);

        $.ajax({
            url: window.location.pathname, //window.location.pathname
            type: 'POST',
            data: parametros, // parametros,

            dataType: 'json',
            contentType: 'multipart/form-data',
            processData: false,
            contentType: false,
            success: function (result) {
                //alert("Correcto");
                if (result.correcto) {
                    $('#form_asignar')[0].reset();
                    $("#modalAsignacion").modal("hide");
                    tablaAsignacion.ajax.reload(null, false);

                    switch (result.tipo_accion) {
                        case "crear":
                            texto = "Asignacion creada con exito";
                            break;
                        case "descargo":
                            texto = "Descargo creado con exito";
                            break;
                        case "pdf":
                            texto = "Pdf creado con exito";
                            break;
                        default:
                            texto = "";
                    }

                    Swal.fire({
                        icon: 'success',
                        title: 'Correcto',
                        text: texto
                    });

                } else {
                    tablaAsignacion.ajax.reload(null, false);
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Ha ocurrido un error al realizar la acción'
                    });
                }

            },
            error: function (error) {
                alert(error.responseJSON.Message);

            },
            failure: function () {
                alert('Failure');
            }
        });
    }


</script>
{% endblock content %}