{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">

  <title>{% block title %} {% endblock title %}</title>
  <!--     Fonts and icons     -->
  <link href="{% static 'css/font-roboto.css' %}" rel="stylesheet"type="text/css" />
  <link href="{% static 'css/fontawesome-all.min.css' %}" rel="stylesheet"type="text/css" />

  <!-- CSS Files -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"type="text/css" />
  <link href="{% static 'css/dataTables.min.css' %}" rel="stylesheet"type="text/css" />
  <link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet"type="text/css" />
  <link href="{% static 'css/sweetalert2.css' %}" rel="stylesheet"type="text/css" />
  <link href="{% static 'css/select2.min.css' %}" rel="stylesheet"type="text/css" />
  <link href="{% static 'css/bootstrap-datepicker.min.css' %}" rel="stylesheet"type="text/css" />
  <link href="{% static 'css/select2-bootstrap-5-theme.min.css' %}" rel="stylesheet"type="text/css" />
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"type="text/css" />

<!-- Custom styles for this template -->
  <link href="{% static 'css/side-bars.css' %}" rel="stylesheet">
  <link href="{% static 'css/common.css' %}" rel="stylesheet">

  <!--Scripts -->
  {% include 'partials/_scripts.html' %}



  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
</head>

<body>
  <!--Navbar Horizontal-->
  <nav id="navbar" class="sidebar close ">
    <div id="nav_vertcal">
      <!--Encabezado del navbar-->
      <header>
        <div class="image-text">
          <span class="image">
            <img src="{% static 'img/logo.png' %}" alt="">
          </span>
          <div class="text logo-text">
            <span class="name">Cuasa</span>
            <span class="slogan">Cultivos con valor</span>
          </div>
        </div>
      </header>

      <!--Menu del navbar-->
      <div class="menu-bar">
        <div class="bottom-content" id="menu">
          <li class="">
            <a href="{% url 'home_app:home'%}">
              <i class="fa-solid fa-house icon"></i>
              <span class="text nav-text">Inicio</span>
            </a>
          </li>
          <li class="">
            <a href="{% url 'tickets_app:ticket_view' %}">
              <i class="fa-solid fa-ticket icon"></i>
              <span class="text nav-text">Tickets</span>
            </a>
          </li>

          <li class="">
            <a href="{% url 'inventario_app:inventario' %}">
              <i class="fas fa-desktop icon"></i>
              <span class="text nav-text">Inventario</span>
            </a>
          </li>

          <li>
            <a href="#btn_menu_admin" data-bs-toggle="collapse">
              <i class="fas fa-cog fs-2 icon"></i>
              <span class="text nav-text">Administración</span>
              <i class="fa-solid fa-caret-down " style=" 
                    min-width: 35px;
                    border-radius: 60px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 20px;
                    color: var(--text-color);
                transition: var(--tran-03);"></i>
            </a>

          </li>

          <div class="collapse" id="btn_menu_admin" style="background-color: #2E7D32 ; border-radius: 6px;">


            <li class="">
              <a href="{% url 'tickets_app:admin_ticket' 1 %}">
                <i class="fa fa-clipboard-list fs-4 icon"></i>
                <span class="text nav-text">Tickets</span>
              </a>
            </li>
            <li class="">
              <a href="{% url 'tickets_app:reportes' %}">
                <i class="fa-solid fa-file-chart-pie fs-4 icon"></i>
                <span class="text nav-text">Reportes</span>
              </a>
            </li>
            <li class="">
              <a href="{% url 'asignaciones_app:asignaciones' %}">
                <i class="fas fa-dolly-flatbed fs-4 icon"></i>
                <span class="text nav-text">Asignaciones</span>
              </a>
            </li>
            <li class="">
              <a href="{% url 'historico_app:historial' %}">
                <i class="fas fa-calendar-lines fs-4 icon"></i>
                <span class="text nav-text">Historial</span>
              </a>
            </li>
            <li class="">
              <a href="{% url 'usuarios_app:empleados' %}">
                <i class="icon fas fa-users-cog fs-4"></i>
                <span class="text nav-text">Usuario</span>
              </a>
            </li>
          </div>
          <hr>

          <li>
            <a href="#btn_menu_loguser" data-bs-toggle="collapse">
              <i class="icon"><img src="https://avatars.githubusercontent.com/u/18431291?s=400&v=4" alt="hugenerd"
                  width="30" height="30" class="rounded-circle"></i>
              <span class="text nav-text">{{request.user|title}}</span>
            </a>

          </li>

          <div class="collapse" id="btn_menu_loguser" style="background-color: #2E7D32 ; border-radius: 6px;">

            <li type="button" class="">
              <a href="{% url 'usuarios_app:profile' %}">
                <i class="fa-solid fa-id-card icon"></i>
                <span class="text nav-text">Perfil</span>
              </a>
            </li>
            <li type="button" id="logout" class="">
              <a href="#">

                <i href="#" class="fa-solid fa-right-from-bracket icon"></i>
                <span class="text nav-text">Salir</span>
              </a>
            </li>

          </div>
        </div>
      </div>
    </div>
  </nav>


<!--contenido Horizontal de la pagina-->
  <div class="horizontal_content "id="page-top">

    <!--Navbar Vertical-->
    <nav>
      <div class="nav_vertcal">
        <i id="menu_sidebar" class="fa-solid fa-bars  sidebar-toggle "></i>
        <div class="search-box">
        </div>
        <img src="https://avatars.githubusercontent.com/u/18431291?s=400&v=4" alt="">
      </div>
    </nav>
    

    <br><br>
    <!--Rutas de navegacion-->
    <div class="ruts">
      <!--Encabezado del Contenido (Navegacion)-->
      <div class="page-header">
        <ul class="breadcrumbs ">
          <li class="nav-home-route ">
            <a href="{% url 'home_app:home' %}">
              <i class="fas fa-home icon-route"></i>
            </a>
          </li>
          
          {% block route_bar %}
            
          {% endblock route_bar %}
            
        </ul>
      </div><!-- FinEncabezado del Contenido (Navegacion)-->
    </div>

    <!--Contenido de la pagina-->

    <div class="container">
      <div  class="row" >

          
          {% block content %}

          {% endblock content%}

          
          
        </div>
        
        {% include 'partials/_footer.html' %}
          
        <a class="page-up-fixed" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
  </div>



  

</body>




<script>
$("#logout").on('click', function () {
  Swal.fire({
    title: '¿Desea cerrar la sesión?',
    icon: 'info',
    showCancelButton: true,
    confirmButtonColor: '#3085d6',
    cancelButtonColor: '#d33',
    confirmButtonText: 'Sí',
    cancelButtonText: 'No'
  }).then((result) => {
    if (result.isConfirmed) {
      window.location.href = "{% url 'login_app:logout' %}";
    }
  })
});
</script>




</html>