{% extends 'base.html' %}

{% load static %}

{% block title %}
Inventario
{% endblock title %}

{% block route_bar %}
<li class="separator ">
    <i class="fas fa-chevron-right icon-route"></i>
</li>
<li class="nav-item-route ">
    <a href="{% url 'inventario_app:inventario' %}" class="icon-route">Inventario</a>
</li>
{% endblock route_bar %}

{% block content %}

<div class="container-fluid py-4 col-12 ">
    <div class="row mb-4">
        <div class="col-12 mb-md-0 mb-4">
            <div class="card col-12">
                <div class="card-header pb-0">
                    <div class="row">
                        <div class="col-lg-6 col-7">
                            <h3><i class="fa-solid fa-sliders fs-1"></i> Parámetros</h3>
                        </div>
                    </div>
                </div>
                <div class="card-body px-0 pb-2">
                    <div class="container-fluid col-12 text-center">
                        <div class="d-grid gap-2 d-md-block">
                            <a class="btn btn-outline-info fs-4 m-1" href="{% url 'inventario_app:categorias' %}"><i class="fa-solid fa-layer-group fs-2"></i> Categorías</a>
                            <a class="btn btn-outline-info fs-4 m-1" href="{% url 'inventario_app:marcas' %}"><i class="fa-solid fa-tags fs-2"></i> Marcas</a>
                            <a class="btn btn-outline-info fs-4 m-1" href="{% url 'inventario_app:modelo' %}"><i class="fa-solid fa-shapes fs-2"></i> Modelo</a>
                            <a class="btn btn-outline-info fs-4 m-1" href="{% url 'inventario_app:proveedores' %}"><i class="fa-solid fa-handshake fs-2"></i> Proveedor</a>
                            <a class="btn btn-outline-info fs-4 m-1" href="{% url 'inventario_app:estados' %}"><i class="fa-solid fa-rectangle-history fs-2"></i> Estado</a>
                            <a class="btn btn-outline-info fs-4 m-1" href="{% url 'inventario_app:descarte' %}"><i class="fa-solid fa-dumpster fs-2"></i> Descartes</a>
                            <a class="btn btn-outline-info fs-4 m-1" href="{% url 'inventario_app:mantenimiento' %}"><i class="fa-solid fa-screwdriver-wrench fs-2"></i> Mantenimientos</a>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="card col-12">
                <div class="card-header pt-2">
                    <div class="row">
                        <div class="row">
                            <div class="col-lg-6 col-6">
                                <h3><i class="fa-solid fa-users fs-1"></i> Inventario</h3>
                            </div>
                            <div class="col-4 p-0 text-center border">
                                <div class="col-12 form-group ps-1 pe-1">
                                    <label for="categoria_select">Seleccione una categoría </label>
                                    <select name="categoria" id="categoria_select" class="form-control form-select form-select-sm">
                                        <option selected value="">--Seleccione--</option>
                                        <option value="0">Todo</option>
                                        {% for cat in categorias %}
                                            <option value="{{cat.pk}}"> 
                                                {{cat.nombre_categoria}}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-2 col-5 my-auto text-end">
                                <button type="button" class="btn btn-success btn-sm mb-2" id="btnAdd">
                                    <i class="fa-solid fa-plus opacity-10 fs-5"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body pt-2">
                    <div class="table-responsive col-12 col-md-12 col-sm-12">
                        <table class="table table-hover align-items-center mb-0" id="datatable">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        # Item
                                    </th>
                                    <th
                                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Correlativo
                                    </th>
                                    <th
                                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Nombre
                                    </th>
                                    <th
                                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Categoría
                                    </th>
                                    <th
                                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Estado
                                    </th>
                                    <th
                                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Serial
                                    </th>
                                    <th
                                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Acción
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
    
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Agregar Inventarios-->
<div class="modal fade" id="modalInventario" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="">
                    <i class="fa-solid fa-plus fs-4"></i><span> Crear Item</span>
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form method="post" action="." id="formInventario" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group row">
                        <input type="text" class="d-none" name="action" id="action" value="crear" />
                        <input type="text" class="d-none" name="action" id="id_inventario" value="0" />

                        <div class="col-12">
                            <div class="input-group mb-3">
                                <span class="input-group-text">Correlativo:</span>
                                <input type="text" class="form-control" name="correlativo" id="correlativo" required aria-label="Numero de correlativo" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-12">
                            <div class="input-group mb-3">
                                <span class="input-group-text" >Nombre:</span>
                                <input type="text" class="form-control" name="nombre" id="nombre" required aria-label="Nombre del articulo"/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-9">
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="categoria">Categoría:</label>
                                <select name="categoria" id="categoria" class="form-control form-select form-select-sm">
                                    <option selected value="0">--Seleccione--</option>
                                    {% for cat in categorias %}
                                        <option value="{{cat.pk}}"> 
                                            {{cat.nombre_categoria}}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-9">
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="modelo">Modelo:</label>
                                <select name="modelo" id="modelo" class="form-control form-select form-select-sm">
                                    <option selected value="0">--Seleccione--</option>
                                    {% for mod in modelos %}
                                        <option value="{{mod.pk}}"> 
                                            {{mod.nombre_modelo}}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-9">
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="proveedor">Proveedor:</label>
                                <select name="proveedor" id="proveedor" class="form-control form-select form-select-sm">
                                    <option value="0">--Seleccione--</option>
                                    {% for pro in proveedores %}
                                        <option value="{{pro.pk}}"> 
                                            {{pro.nombre_proveedor}}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-12">
                            <div class="input-group mb-3">
                                <span class="input-group-text">Lps.</span>
                                <input type="text" class="form-control" value="0.00" name="precio" id="precio" aria-label="Precio"/>
                                <span class="input-group-text">Ej. 1.23</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-12">
                            <div class="input-group mb-3">
                                <span class="input-group-text">Fecha de Compra</span>
                                <input size="16" type="text" name="fecha_compra" class="form-control" id="fecha_compra" readonly>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <div class="col-12">
                            <div class="input-group mb-3">
                                <span class="input-group-text">Fecha de Garantía</span>
                                <input size="16" type="text" name="fecha_garantia" class="form-control" id="fecha_garantia" readonly>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-9">
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="estado">Estado:</label>
                                <select name="estado" id="estado" class="form-control form-select form-select-sm">
                                    <option value="0">--Seleccione--</option>
                                    {% for est in estados %}
                                        <option value="{{est.pk}}"> 
                                            {{est.nombre_estado}}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-12">
                            <div class="input-group mb-3">
                                <span class="input-group-text" >Características:</span>
                                <textarea maxlength="500" type="text" class="form-control" name="caracteristica" id="caracteristica" required aria-label="Características del artculo"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-12">
                            <div class="input-group mb-3">
                                <span class="input-group-text" >Comentarios:</span>
                                <textarea maxlength="500" type="text" class="form-control" name="comentarios" id="comentarios" required aria-label="Comentarios del articulo"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-12">
                            <div class="input-group mb-3">
                                <span class="input-group-text" ># Serie:</span>
                                <input type="text" class="form-control" name="serial_number" id="serial_number" required aria-label="Numero de serie del articulo"/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-12">
                            <div class="input-group mb-3">
                                <span class="input-group-text" >Ubicación:</span>
                                <textarea maxlength="500" type="text" class="form-control" name="ubicacion" id="ubicacion" required aria-label="Ubicación del articulo"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-12">
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="imagen">Imagen:</label>
                                <input type="file" class="form-control" name="imagen" id="imagen">
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btn">Guardar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Agregar -->

<!-- Modal ver imagen -->
<div class="modal fade" id="modalImagen">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-img-title" id="">
                    <span> Inventario</span>
                </h5>
                <button type="button" class="btn btn-light btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <img src="" class="img-responsive" style="max-width:100%;max-height:100%;" id="verImagen">
            </div>
        </div>
    </div>
</div>
<!-- Modal Ver Imagen -->

<script>
    var tablaInventario;
    var modalTitulo = $('.modal-title');
    var imgTitulo = $('.modal-img-title');
    var categoria;

    window.onload = function() {
        $("#btnAdd").on("click", function(){
            modalTitulo.find('span').html('Crear Articulo');
            modalTitulo.find('i').removeClass().addClass('fas fa-plus fs-3');
            $('#action').val('crear');
            $('#formInventario')[0].reset();
            $('#nombre').focus();

            $('#modalInventario').modal('show');
        });
        $('#datatable').DataTable();
        $("#fecha_compra").datepicker({
        format: 'yyyy-mm-dd',
        autoclose: true,
        todayBtn: true
        });
        $("#fecha_garantia").datepicker({
        format: 'yyyy-mm-dd',
        autoclose: true,
        todayBtn: true
        });
    };

$(document).ready(function(){
    $('#categoria_select').change(function(){
        categoria = $(this).val();
        obtenerDatos();
    })
    $('#categoria_select').select2({
            theme: 'bootstrap-5'
    });
    $('#categoria').select2({
        dropdownParent:  $('#modalInventario'),
        theme: 'bootstrap-5'
    });
    $('#modelo').select2({
        dropdownParent:  $('#modalInventario'),
        theme: 'bootstrap-5'
    });
    $('#proveedor').select2({
        dropdownParent:  $('#modalInventario'),
        theme: 'bootstrap-5'
    });
    
});

//------------------------- boton en modal para agregar -----------------------
$("#btn").on('click', function(){
    if($("#correlativo").val == ""){
        alert('No deje campos vacios');
    }else{
        submit_with_ajax("", "");
    }
    return false;
});

//---------------------- editar y ver img -------------------------
$('#datatable tbody').on('click', 'a[rel="editar"]', function(){
        var tr = tablaInventario.cell($(this).closest('td,li')).index();
        var data = tablaInventario.row(tr.row).data();

        modalTitulo.find('span').html(' Editar Articulo');
        modalTitulo.find('i').removeClass().addClass('fas fa-edit fs-3');

        $('#categoria').html(
            `{% for cat in categorias %}
                <option value="{{cat.pk}}"> 
                    {{cat.nombre_categoria}}
                </option>
            {% endfor %}`
        );
        $('#modelo').html(
            `{% for mod in modelos %}
                <option value="{{mod.pk}}"> 
                    {{mod.nombre_modelo}}
                </option>
            {% endfor %}`
        );
        $('#proveedor').html(
            `{% for pro in proveedores %}
                <option value="{{pro.pk}}"> 
                    {{pro.nombre_proveedor}}
                </option>
            {% endfor %}`
        );
        $('#estado').html(
            `{% for est in estados %}
                <option value="{{est.pk}}"> 
                    {{est.nombre_estado}}
                </option>
            {% endfor %}`
        );

        $('#action').val("editar");
        $('#id_inventario').val(data.id);
        $('#nombre').val(data.nombre_item);
        $('#correlativo').val(data.correlativo);
        $('#categoria').val(data.categoria.id);
        $('#modelo').val(data.ModeloItem.id);
        $('#proveedor').val(data.proveedor.id);
        $('#precio').val(data.precio);
        $('#fecha_compra').val(data.fecha_compra);
        $('#fecha_garantia').val(data.fecha_garantia);
        $('#estado').val(data.estado.id);
        $('#caracteristica').val(data.caracteristica);
        $('#comentarios').val(data.comentarios);
        $('#serial_number').val(data.serial_number);
        $('#ubicacion').val(data.ubicacion);
        
        $('#modalInventario').modal('show');
    }).on('click', 'a[rel="verImagen"]', function(){
        var tr = tablaInventario.cell($(this).closest('td, li')).index();
        var data = tablaInventario.row(tr.row).data();
        
        imgTitulo.find('span').html(data.correlativo)
        console.log(data.imagen_item);
        $("#verImagen").attr("src", data.imagen_item);
        $("#modalImagen").modal("show");
    });

//------------------------- submit -----------------------

function submit_with_ajax(url, parametros) {
    var parametros = new FormData();
    token = $('input[name="csrfmiddlewaretoken"]').val();
    parametros.append('action', $('#action').val());
    parametros.append('nombre_item', $('#nombre').val());
    parametros.append('correlativo', $('#correlativo').val());
    parametros.append('id', parseInt($('#id_inventario').val()));
    parametros.append('id_categoria', $('#categoria').val());
    parametros.append('id_modelo', $('#modelo').val());
    parametros.append('id_proveedor', $('#proveedor').val());
    parametros.append('precio', $('#precio').val());
    parametros.append('fecha_compra', $('#fecha_compra').val());
    parametros.append('fecha_garantia', $('#fecha_garantia').val());
    parametros.append('id_estado', $('#estado').val());
    parametros.append('caracteristica', $('#caracteristica').val());
    parametros.append('comentarios', $('#comentarios').val());
    parametros.append('serial_number', $('#serial_number').val());
    parametros.append('ubicacion', $('#ubicacion').val());
    parametros.append('imagen', $('#imagen')[0].files[0]);
    parametros.append('csrfmiddlewaretoken', token);

    $.ajax({
        url: window.location.pathname, 
            type: 'POST',
            data: parametros,
            
            dataType: 'json',
            contentType: 'multipart/form-data',
            processData: false,
            contentType: false,
            success: function(result){
                if(result.correcto){
                    $('#formInventario')[0].reset();
                    $('#modalInventario').modal('hide');

                    tablaInventario.ajax.reload(null, false);

                    switch(result.tipo_accion){
                        case "crear":
                            texto = "Datos guardados con exito";
                            break;
                        case "editar":
                            texto = "Datos actualizados con exito";
                            break;
                        default:
                            texto = "";
                    }
                    Swal.fire({
                        icon: 'success',
                        title: 'correcto',
                        text: texto
                    });
                }else{
                    tablaInventario.ajax.reload(null, false);
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Ha ocurrido un error al realizar la accion'
                    });
                }
            }
    })

}

//-------------------------- obtenerDatos() -----------------
function obtenerDatos(){
    token = $('input[name="csrfmiddlewaretoken"]').val();
    tablaInventario = $('#datatable').DataTable({
        responsive: true,
        autoWidth: true,
        destroy: true,
        bSortable: true,
        defenRender: true,
        language: {"url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"},
        ajax:{
            url:window.location.pathname,
            type: 'POST',
            data:{
                'action': 'buscardatos',
                'categoria_select':categoria,
                'csrfmiddlewaretoken': token
            },
            dataSrc: ""
        },
        columns: [
            {"data": "id"},
            {"data": "correlativo"},
            {"data": "nombre_item"},
            {"data": "categoria.name"},
            {"data": "estado.nombre_estado"},
            {"data": "serial_number"},
            {"data": "id"}
        ],
        columnDefs: [
            {
                targets: [6],
                class: 'text-center',
                ordenable: false,
                render: function (data, type, row) {
                    var buttons = `<a rel="editar" class="btn btn-warning btn-sm btn-flat">
                                    <i class="fas fa-edit"></i></a>`;
                    buttons += `<a rel="verImagen" class='btn btn-primary btn-sm btn-flat'>
                                    <i class="fa-solid fa-eye"></i></a>`;
                    return buttons;
                }
            },
        ],
    });
}

    
</script>
{% endblock content %}
