<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
</head>
<body>
	<p><h3> El ticket # <strong>{{dato_Ticket.pk}}</strong> con el título <strong>{{dato_Ticket.title}}</strong> ha sido asignado exitosamente.</h3> 
        <br>
        El técnico encargado es: <strong>{{dato_Ticket.assignee_id.first_name}} {{dato_Ticket.assignee_id.last_name}}</strong>
        <br>
        En breve el técnico asignado se comunicara con usted. 
        <br><br>
        Este es un correo generado por el sistema, favor no responder. 
        <br><br>
        Saludos. 
        <br>
        Departamento de Informática.</p>
</body>
</html>