{% extends 'base.html' %}

{% load static %}

{% block title %}
Comentarios
{% endblock title %}

{% block route_bar %}
<li class="separator ">
    <i class="fas fa-chevron-right icon-route"></i>
</li>
<li class="nav-item-route ">
    <a href="{% url 'tickets_app:admin_ticket' 1 %}" class="icon-route">Administración de Tickets</a>
</li>
<li class="separator ">
    <i class="fas fa-chevron-right icon-route"></i>
</li>
<li class="nav-item-route ">
    <a href="#" class="icon-route">Comentarios</a>
</li>
{% endblock route_bar %}

{% block content %}
<div class="container-fluid py-4 col-12 ">
    <div class="row mb-4">
        <div class="col-12 mb-md-0 mb-4">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="row">
                        <div class="col-lg-6 col-7">
                            <h3><i class="fa-solid fa-comment-lines opacity-10 fs-1"></i> Comentarios del ticket <span id='id_ticket'>{{ticket}}</span></h3>
                        </div>
                        <div class="col-lg-6 col-5 my-auto text-end">
                            <button type="button" class="btn btn-success btn-sm mb-2" id="btnAdd">
                                <i class="fa fa-plus opacity-10 fs-4" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body px-0 pb-2">
                    <div class="table-responsive">
                        <table class="table table-hover align-items-center mb-0" id="datatable">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        #
                                    </th>
                                    <th
                                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Titulo
                                    </th>
                                    <th
                                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Comentario
                                    </th>
                                    <th
                                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Ticket
                                    </th>
                                    <th
                                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Creado por
                                    </th>
                                    <th
                                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Acción
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="text-center">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Agregar Categorias-->
<div class="modal fade" id="modalComentario" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="">
                    <i class="fa-solid fa-plus fs-4"></i><span> Crear Comentario</span>
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form method="post" action="." id="formComentario" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group row">
                        <input type="text" class="d-none" name="action" id="action" value="crear" />
                        <input type="text" class="d-none" name="id_comentario" id="id_comentario" value="0" />
                        <div class="col-md-12">
                            <div class="input-group mb-3">
                                <span class="input-group-text" >Titulo:</span>
                                <input type="text" class="form-control" name="titulo" id="titulo" required aria-label="Nombre del la categoria"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="input-group mb-3">
                                <span class="input-group-text" >Descripción:</span>
                                <textarea maxlength="500" type="text" class="form-control" name="comment" id="comment" required aria-label="Descripcion de la categoria"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btn">Guardar</button>
            </div>
        </div>
    </div>
</div>

<!-- fin modal -->

<script>
    let tablaComentario;
    const modalTitulo = $('.modal-title');

    window.onload = function() {
        $("#btnAdd").on("click", function(){
            modalTitulo.find('span').html('Crear Comentario');
            modalTitulo.find('i').removeClass().addClass('fa fa-plus fs-3');
            $('#action').val('crear');
            $('#formComentario')[0].reset();
            $('#titulo').focus();
            $('#comment').val("");
            $('#titulo').attr("disabled",false);
            $('#comment').attr("disabled",false);
            $('#btn').show();
            $('#modalComentario').modal('show');
        });
        $('#datatable').DataTable();
        obtenerDatos();
    }

    $("#btn").on("click", function(){
        if(($("#titulo").val == "") || ($("#comment").val == "")){
            alert("No puede dejar campos vacios");
        }else{
            submit_with_ajax("", "");
        }
        return false;
    });

    $('#datatable tbody').on('click', 'a[rel="editar"]', function(){
        var tr = tablaComentario.cell($(this).closest('td,li')).index();
        var data = tablaComentario.row(tr.row).data();

        modalTitulo.find('span').html(' Editar Comentario');
        modalTitulo.find('i').removeClass().addClass('fas fa-edit fs-3');

        $('#action').val("editar");
        $('#id_comentario').val(data.id);
        $('#titulo').val(data.title);
        $('#comment').val(data.comment);
        $('#titulo').attr("disabled",false);
        $('#comment').attr("disabled",false);
        $('#btn').show();
        $('#modalComentario').modal('show');
    }).on('click', 'a[rel="ver"]', function(){
        var tr = tablaComentario.cell($(this).closest('td,li')).index();
        var data = tablaComentario.row(tr.row).data();

        modalTitulo.find('span').html(' Editar Categoria');
        modalTitulo.find('i').removeClass().addClass('fas fa-edit fs-3');
        $('#titulo').val(data.title);
        $('#comment').val(data.comment);
        $('#titulo').attr("disabled",true);
        $('#comment').attr("disabled",true);
        $('#btn').hide();
        $('#modalComentario').modal('show');
    });

    function submit_with_ajax(url, parametros){
        var parametros = new FormData();
        token = $('input[name="csrfmiddlewaretoken"]').val();
        parametros.append('action', $('#action').val());
        parametros.append('title', $('#titulo').val());
        parametros.append('comments', $('#comment').val());
        parametros.append('id_comment', parseInt($('#id_comentario').val()));
        parametros.append('ticket', $('#id_ticket').text());
        parametros.append('csrfmiddlewaretoken', token);

        $.ajax({
            url: window.location.pathname, 
            type: 'POST',
            data: parametros,
            
            dataType: 'json',
            contentType: 'multipart/form-data',
            processData: false,
            contentType: false, 
            success:function(result){
                if(result.correcto){
                    $('#formComentario')[0].reset();
                    $('#modalComentario').modal('hide');

                    tablaComentario.ajax.reload(null, false);

                    switch(result.tipo_accion){
                        case "crear":
                            texto = "Datos guardados con exito";
                            break;
                        case "editar":
                            texto = "Datos editados con exito";
                            break;
                        default:
                            texto = "";
                    }

                    Swal.fire({
                    icon: 'success',
                    title: 'Correcto',
                    text: texto
                    });

                }else{
                    tablaComentario.ajax.reload(null, false);
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Ha ocurrido un error al realizar la acción'
                    });
                }
            }
        })

    }

    function obtenerDatos(){
        token = $('input[name="csrfmiddlewaretoken"]').val();
        const ticket = $('#id_ticket').text();
        tablaComentario = $('#datatable').DataTable({
            responsive: true,
            autoWidth: false,
            destroy: true,
            bSortable: true,
            deferRender: true,
            lenguage: {"url":"//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"},
            ajax: {
                url:window.location.pathname, 
                type: 'POST',
                data: {
                    'action': 'buscardatos',
                    'ticket': ticket,
                    'csrfmiddlewaretoken': token
                },
                dataSrc: ""
            },
            columns: [
                {"data":"id"},
                {"data":"title"},
                {"data":"comment"},
                {"data":"id_ticket.id"},
                {"data":"created_by.usuario"},
                {"data":"id"}
            ],
            columnDefs: [
                {
                    targets: [2],
                    render: function (data, type, row) {
                        return data.substr(0, 25) + "...";
                    }
                },
                {
                    targets: [5],
                    class: 'text-center',
                    ordenable: false,
                    render: function(data, type, row){
                        var buttons = `<a rel="editar" class="btn btn-warning btn-sm btn-flat ms-1 me-1" title="Editar">
                                    <i class="fa fa-edit"></i></a> `;
                            buttons += `<a rel="ver" class='btn btn-secondary btn-sm btn-flat test-popup-link ms-1 me-1' title="Ver">
                                <i class="fa-solid fa-eye fs-6"></i></a>`;
                        return buttons;
                    }
                },
            ],
        });
    }
</script>
{% endblock content %}