<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
</head>
<body>
	<p><h3> El ticket # <strong>{{dato_Ticket.pk}}</strong> con el título <strong>{{dato_Ticket.title}}</strong> ha sido generado exitosamente.</h3> 
        <br>
        En breve recibirá una confirmación de que ha sido asignado a un técnico. 
        <br><br>
        Este es un correo generado por el sistema, favor no responder. 
        <br><br>
        Saludos. 
        <br>
        Departamento de Informática.</p>
</body>
</html>