{% extends 'base.html' %}

{% load static %}

{% block title %}
Tickets
{% endblock title %}

{% block content %}
<div class="container-fluid py-4 col-12 ">
    <div class="row mb-4">
        <div class="col-12 mb-md-0 mb-4">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="row">
                        <div class="col-lg-6 col-7">
                            <h3><i class="bi bi-ticket opacity-10 fs-1"></i> Tickets</h3>
                        </div>
                        <div class="col-lg-6 col-5 my-auto text-end">
                            <button type="button" class="btn btn-success btn-sm mb-2" id="btnAdd">
                                <i class="bi bi-person-plus-fill opacity-10 fs-3"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body px-0 pb-2">
                    <div class="table-responsive">
                        <table class="table align-items-center mb-0" id="datatable">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        # Ticket
                                    </th>
                                    <th
                                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Usuario
                                    </th>
                                    <th
                                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Descripcion
                                    </th>
                                    <th
                                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Fecha
                                    </th>
                                    <th
                                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Estado
                                    </th>
                                    <th
                                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Accion
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="text-center">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Inicio Agregar -->
<div class="modal fade" id="modalTicket" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered" role="document">

        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="">
                    <i class="fa-solid fa-plus"></i> <span>Crear Ticket</span></h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <form method="post" action="." id="form_ticket" enctype="multipart/form-data">
                    <div class="form-group row">
                        {% csrf_token %}
                        <input type="text" class="d-none" name="action" id="action" value="crear" />
                        <input type="text" class="d-none" id="id_ticket" value="0" />


                        <div class="col-md-12">
                            <label for="">Titulo</label>
                            <input type="text" class="form-control" name="title" id="title" required
                                placeholder="Titulo del Ticket" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-12">
                            <label for="">Descripción</label>
                            <textArea id="description" name="description" class="form-control"
                                placeholder="Descripción del Ticket" style="resize: none">

                      </textArea>
                        </div>
                    </div>

                    <div class="form-group row ">

                        <div class="col-md-12">
                            <label for="">Imagen</label>
                            <input type="file" id="imagen" name="imagen" accept="image/*">
                        </div>
                    </div>
                </form>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary" id="btn">Guardar</button>
            </div>

        </div>

    </div>

</div>
<!-- Fin Agregar -->


<!-- Inicio ver ticket-->

<div class="modal fade" id="modalVerTicket" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="">
                    <i class="bi bi-eye"></i> <span>Ticket</span></h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label for="">Titulo</label>
                            <input type="text" class="form-control" id="title_ver" readonly />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label for="">Descripción</label>
                            <textArea id="description_ver" name="description" class="form-control" style="resize: none" readonly>
                      </textArea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label for="">Asignado a</label>
                            <input type="text" class="form-control" id="assigned_ver" readonly />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label for="">Imagen</label>
                            <img src="" class="img-responsive" style="width: 100%; heigth: 100%;" id="imagen_ver">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- Fin ver ticket-->

<script>
    //==================================================Carga del Modal========================================================

    var modalTitulo = $('.modal-title');
    var tablaTicket;

    window.onload = function () {

        //alert("Pagina cargada");
        $("#btnAdd").on("click", function () {
            modalTitulo.find('span').html('Agregar Ticket');
            modalTitulo.find('i').removeClass().addClass('fas fa-plus');
            $('#action').val("crear");
            $('#form_ticket')[0].reset();
            $('#description').val("");
            $('#title').val("");

            $('#titulo').focus();

            $('#modalTicket').modal('show');
        });
        $('#datatable').DataTable();
        obtenerDatos();
    }

    //=================================================Data table=============================================================

    $('#datatable tbody').on('click', 'button[rel="verTicket"]', function () {
        var tr = tablaTicket.cell($(this).closest('td, li')).index();
        var data = tablaTicket.row(tr.row).data();
        //console.log(data.imagen_Carrusel);
        $("#imagen_ver").attr("src", data.img_ticket);
        $("#title_ver").val(data.title);
        $("#description_ver").val(data.description);
        $("#assigned_ver").val(data.assignee_id.usuario);

        $("#modalVerTicket").modal("show");
    });

    //================================================== Obtener Datos===========================================================
    function obtenerDatos() {
        token = $('input[name="csrfmiddlewaretoken"]').val();
        tablaTicket = $('#datatable').DataTable({
            responsive: true,
            autoWidth: false,
            destroy: true,
            bSortable: true,
            deferRender: true,
            language: {
                "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
            },
            ajax: {
                url: window.location.pathname, //Obtenemos la url obsoluta
                type: 'POST',
                data: {
                    'action': 'buscardatos', //Mandamos la accion para que django sepa que tiene que buscar
                    'csrfmiddlewaretoken': token
                }, // parametros
                dataSrc: ""
            },
            columns: [ //Columnas de nuestro modelo/Tabla aqui retorna o pinta los valores en la datables
                {
                    "data": "id"
                },
                {
                    "data": "user_id.usuario"
                },
                {
                    "data": "description"
                },
                {
                    "data": "created_at"
                },
                {
                    "data": "status"
                },
                {
                    "data": "action"
                }
            ], 
            columnDefs: [ //Personalizar una columna
                {
                    targets: [2],
                    render: function (data, type, row) {
                        return data.substr(0, 25) + "...";
                    }
                },
                {
                    targets: [4], //Personalizar la colummna numero 5
                    class: 'text-center',
                    orderable: false,
                    render: function (data, type, row) {
                            if (data == 'OPEN')
                                return '<span class="badge rounded-pill bg-primary fs-6">Abierto</span>';
                            else if (data == 'IN_PROGRESS')
                                return '<span class="badge rounded-pill bg-warning text-dark fs-6">En Progreso</span>';
                            else if (data == 'DONE')
                                return '<span class="badge rounded-pill bg-success fs-6">Terminado</span>';
                    }
                },
                {
                    targets: [5], //Personalizar la colummna numero 6
                    class: 'text-center',
                    orderable: false,
                    render: function (data, type, row) {
                        var buttons = `<button rel="verTicket" type="button" class='btn btn-secondary btn-sm btn-flat'>
                                        <i class="bi bi-eye-fill fs-6"></i></button>`;
                            return buttons;
                    }
                },
            ],
        });
    }


    //==================================================validar formulario=======================================================
    $("#btn").on("click", function () {

        if ($("#title").val() == "") {
            alert("Falta el titulo del ticket");

        } else if ($("#description").val() == "") {
            alert("Falta la descripcion");

        } else {
            submit_with_ajax("", "");
        }
        return false;
    });

    //================================================Función AJAX======================================================

    function submit_with_ajax(url, parametros) {
        var parametros = new FormData();
        token = $('input[name="csrfmiddlewaretoken"]').val();
        parametros.append('action', $('#action').val());

        parametros.append('title', $("#title").val());
        parametros.append('description', $("#description").val());
        parametros.append('id', parseInt($("#id_ticket").val()));

        parametros.append('imagen', $("#imagen")[0].files[0]);

        parametros.append('csrfmiddlewaretoken', token);

        $.ajax({
            url: window.location.pathname, //window.location.pathname
            type: 'POST',
            data: parametros, // parametros,

            dataType: 'json',
            contentType: 'multipart/form-data',
            processData: false,
            contentType: false,
            success: function (result) {
                //alert("Correcto");
                if (result.correcto) {
                    $('#form_ticket')[0].reset();
                    $("#modalTicket").modal("hide");
                    tablaTicket.ajax.reload(null, false);

                    switch (result.tipo_accion) {
                        case "crear":
                            texto = "Datos guardado con éxito";
                            break;
                        case "editar":
                            texto = "Datos editados con éxito";
                            break;
                        case "eliminar":
                            texto = "Registro eliminado con éxito";
                            break;
                        default:
                            texto = "";
                    }

                    Swal.fire({
                        icon: 'success',
                        title: 'Correcto',
                        text: texto
                    });

                } else {
                    tablaTicket.ajax.reload(null, false);
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Ha ocurrido un error al realizar la acción'
                    });
                }

            },
            error: function (error) {
                //alert(error.responseJSON.Message);

            },
            failure: function () {
                //alert('Failure');
            }
        });
    }

</script>
{% endblock content %}