{% extends 'base.html' %}

{% load static %}

{% block title %}
Administracion Tickets
{% endblock title %}

{% block content %}

<div class="container-fluid py-4 col-12 ">
    <div class="row mb-4">
        <div class="col-12 mb-md-0 mb-4">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="row">
                        <div class="col-lg-6 col-7">
                            <h3><i class="bi bi-ticket-perforated-fill fs-1"></i> Tickets Abiertos</h3>
                        </div>
                    </div>
                </div>
                <div class="card-body px-0 pb-2">
                    <div class="table-responsive">
                        <table class="table align-items-center mb-0" id="tableOpen">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        # Ticket
                                    </th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Usuario
                                    </th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> 
                                        Titulo
                                    </th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Descripcion
                                    </th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Fecha
                                    </th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Estado
                                    </th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Accion
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="text-center">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12 mb-md-0 mb-4">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="row">
                        <div class="col-lg-6 col-7">
                            <h3><i class="bi bi-ticket-perforated fs-1"></i> Tickets Progreso</h3>
                        </div>
                    </div>
                </div>
                <div class="card-body px-0 pb-2">
                    <div class="table-responsive">
                        <table class="table align-items-center mb-0" id="tableProgress">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        # Ticket
                                    </th>
                                    <th
                                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Creado por
                                    </th>
                                    <th
                                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Asignado a
                                    </th>
                                    <th
                                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Descripcion
                                    </th>
                                    <th
                                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Fecha
                                    </th>
                                    <th
                                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Estado
                                    </th>
                                    <th
                                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Accion
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="text-center">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12 mb-md-0 mb-4">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="row">
                        <div class="col-lg-6 col-7">
                            <h3><i class="bi bi-ticket fs-1"></i> Tickets Completados</h3>
                        </div>
                    </div>
                </div>
                <div class="card-body px-0 pb-2">
                    <div class="table-responsive">
                        <table class="table align-items-center mb-0" id="tableClose">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        # Ticket
                                    </th>
                                    <th
                                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Creado por
                                    </th>
                                    <th
                                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Asignado a
                                    </th>
                                    <th
                                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Descripcion
                                    </th>
                                    <th
                                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Fecha
                                    </th>
                                    <th
                                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Estado
                                    </th>
                                    <th
                                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Accion
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="text-center">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Inicio Asignar -->
<div class="modal fade" id="modalEditarTicket" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Asignar Ticket</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" action="." id="formEditarTicket" enctype="multipart/form-data"> {% csrf_token %}
                    <div class="form-group">
                        <div class="row">
                            <input type="text" class="d-none" name="action" id="action" value="actualizarOpen"/>
                            <div class="col-9 col-sm-8">
                                <label for="">Titulo</label>
                                <input type="text" class="form-control" id="titulo_ticket" name="titulo_ticket" disabled>
                            </div>
                            <div class="col-3 col-sm-4">
                                <label for="">Num. Ticket</label>
                                <input type="text" class="form-control" id="id_ticket" name="id_ticket">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Descripcion</label>
                        <textarea class="form-control" id="description_ticket" name="description_ticket" rows="3" name="descripcion" disabled></textarea>
                    </div>
                    <div class="from-group">
                        <button type="button" class="btn" id="verImagen"><i class="bi bi-image fs-1"></i></button>
                        <!-- Modal ver Imagen     -->
                            <div class="modal fade" id="modalImagen">
                                <div class="modal-dialog modal-dialog-centered modal-lg">
                                    <div class="modal-content">
                                        <img src="" class="img-responsive" style="max-width:100%;max-height:100%;" id="id_imagen">
                                    </div>
                                </div>
                            </div>
                        <!-- Fin Modal ver Imagen -->
                    </div>
                    <div class="form-group">
                        <label for="">Asignar a</label>
                        <select class="form-select" id="asignar_usuario" aria-label="Default select example">
                            <option value="0" selected> -- Seleccione -- </option>
                            {% for us in users %}
                                <option value="{{us.id}}">{{us.username}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btnEditarTicket">Guardar</button>
            </div>
        </div>
    </div>
</div>
<!-- Fin Editar -->

<!-- Inicio Terminar -->
<div class="modal fade" id="modalTerminarTicket" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Terminar Ticket</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" action="." id="formTerminarTicket" enctype="multipart/form-data"> {% csrf_token %}
                    <div class="form-group">
                        <div class="row">
                            <input type="text" class="d-none" name="action" id="action" value="actualizarProgress"/>
                            <div class="col-9 col-sm-8">
                                <label for="">Titulo</label>
                                <input type="text" class="form-control" id="titulo_ticketDone" name="titulo_ticket" disabled>
                            </div>
                            <div class="col-3 col-sm-4">
                                <label for="">Num. Ticket</label>
                                <input type="text" class="form-control" id="id_ticketDone" name="id_ticket">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Descripcion</label>
                        <textarea class="form-control" id="description_ticketDone" name="description_ticket" rows="3" name="descripcion" disabled></textarea>
                    </div>
                    <div class="from-group">
                        <button type="button" class="btn" id="verImagen"><i class="bi bi-image fs-1"></i></button>
                        <!-- Modal ver Imagen     -->
                            <div class="modal fade" id="modalImagen">
                                <div class="modal-dialog modal-dialog-centered modal-lg">
                                    <div class="modal-content">
                                        <img src="" class="img-responsive" style="max-width:100%;max-height:100%;" id="id_imagenDone">
                                    </div>
                                </div>
                            </div>
                        <!-- Fin Modal ver Imagen -->
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btnTerminarTicket">Terminar</button>
            </div>
        </div>
    </div>
</div>
<!-- Fin Terminar -->

<script>
    //==================================================Carga del Modal=================================================

    var tablaTicketOpen;
    var tablaTicketInProgress;
    var tablaTicketDone;

    window.onload = function () {
        //alert("Pagina cargada");
        $('#datatable').DataTable();
        ObtenerDatos();
    }


    //================================================== Obtener Ticket ================================================
    function ObtenerDatos() {
        token = $('input[name="csrfmiddlewaretoken"]').val();
        //============================== TIckets en Abiertos ===========================================================
        tablaTicketOpen = $('#tableOpen').DataTable({
            responsive: true,
            autoWidth: false,
            destroy: true,
            bSortable: true,
            deferRender: true,
            language: {
                "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
            },
            ajax: {
                url: window.location.pathname, //Obtenemos la url obsoluta
                type: 'POST',
                data: {
                    'action': 'ticketsopen', //Mandamos la accion para que django sepa que tiene que buscar
                    'csrfmiddlewaretoken': token
                }, // parametros
                dataSrc: ""
            },
            columns: [ //Columnas de nuestro modelo/Tabla aqui retorna o pinta los valores en la datables
                {
                    "data": "id"
                },
                {
                    "data": "user_id.usuario"
                },
                {
                    "data": "title"
                },
                {
                    "data": "description"
                },
                {
                    "data": "created_at"
                },
                {
                    "data": "status"
                },
                {
                    "data": "action"
                }
            ], 
            columnDefs: [ //Personalizar una columna
                {
                    targets: [2],
                    render: function (data, type, row) {
                        return data.substr(0, 25) + "...";
                    }
                },
                {
                    targets: [5], //Personalizar la colummna numero 5
                    class: 'text-center',
                    orderable: false,
                    render: function (data, type, row) {
                            return '<span class="badge rounded-pill bg-primary fs-6">Abierto</span>';;
                    }
                },
                {
                    targets: [6], //Personalizar la colummna numero 6
                    class: 'text-center',
                    orderable: false,
                    render: function (data, type, row) {
                        var buttons = `<a rel="actualizarOpen" class='btn btn-secondary btn-sm btn-flat test-popup-link'>
                                        <i class="bi bi-eye-fill fs-6"></i></a>`;
                            return buttons;
                    }
                },
            ],
        });
        //============================== TIckets en Progreso ===========================================================
        tablaTicketInProgress = $('#tableProgress').DataTable({
            responsive: true,
            autoWidth: false,
            destroy: true,
            bSortable: true,
            deferRender: true,
            language: {
                "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
            },
            ajax: {
                url: window.location.pathname, //Obtenemos la url obsoluta
                type: 'POST',
                data: {
                    'action': 'ticketsprogress', //Mandamos la accion para que django sepa que tiene que buscar
                    'csrfmiddlewaretoken': token
                }, // parametros
                dataSrc: ""
            },
            columns: [ //Columnas de nuestro modelo/Tabla aqui retorna o pinta los valores en la datables
                {
                    "data": "id"
                },
                {
                    "data": "user_id.usuario"
                },
                {
                    "data": "assignee_id.usuario"
                },
                {
                    "data": "description"
                },
                {
                    "data": "created_at"
                },
                {
                    "data": "status"
                },
                {
                    "data": "action"
                }
            ], 
            columnDefs: [ //Personalizar una columna
                {
                    targets: [3],
                    render: function (data, type, row) {
                        return data.substr(0, 25) + "...";
                    }
                },
                {
                    targets: [5], //Personalizar la colummna numero 5
                    class: 'text-center',
                    orderable: false,
                    render: function (data, type, row) {
                        return '<span class="badge rounded-pill bg-warning text-dark fs-6">En Progreso</span>';
                    }
                },
                {
                    targets: [6], //Personalizar la colummna numero 6
                    class: 'text-center',
                    orderable: false,
                    render: function (data, type, row) {
                        var buttons = `<a rel="actualizarProgress" class='btn btn-secondary btn-sm btn-flat test-popup-link'>
                                        <i class="bi bi-eye-fill fs-6"></i></a>`;
                            return buttons;
                    }
                },
            ],
        });
        //=================================  Tickets Cerrados ============================================================
        tablaTicketDone = $('#tableClose').DataTable({
            responsive: true,
            autoWidth: false,
            destroy: true,
            bSortable: true,
            deferRender: true,
            language: {
                "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
            },
            ajax: {
                url: window.location.pathname, //Obtenemos la url obsoluta
                type: 'POST',
                data: {
                    'action': 'ticketdone', //Mandamos la accion para que django sepa que tiene que buscar
                    'csrfmiddlewaretoken': token
                }, // parametros
                dataSrc: ""
            },
            columns: [ //Columnas de nuestro modelo/Tabla aqui retorna o pinta los valores en la datables
            {
                    "data": "id"
                },
                {
                    "data": "user_id.usuario"
                },
                {
                    "data": "assignee_id.usuario"
                },
                {
                    "data": "description"
                },
                {
                    "data": "created_at"
                },
                {
                    "data": "status"
                },
                {
                    "data": "action"
                }
            ], 
            columnDefs: [ //Personalizar una columna
                {
                    targets: [3],
                    render: function (data, type, row) {
                        return data.substr(0, 25) + "...";
                    }
                },
                {
                    targets: [5], //Personalizar la colummna numero 5
                    class: 'text-center',
                    orderable: false,
                    render: function (data, type, row) {
                        return '<span class="badge rounded-pill bg-success fs-6">Terminado</span>';
                    }
                },
                {
                    targets: [6], //Personalizar la colummna numero 6
                    class: 'text-center',
                    orderable: false,
                    render: function (data, type, row) {
                        var buttons = `<button rel="verTicket" type="button" class='btn btn-secondary btn-sm btn-flat'>
                                        <i class="bi bi-eye-fill fs-6"></i></button>`;
                            return buttons;
                    }
                },
            ],
        });
    }

    
    //==================================================validar formulario=======================================================
    $("#btnEditarTicket").on("click", function () {

        if ($("#asignar_usuario").val() == "0") {
            alert("Falta asignar el usuario");
        } else {
            submit_with_ajax("", "");
        }
        return false;
    });

    $("#btnTerminarTicket").on("click", function () {

    if ($("#asignar_usuario").val() == "0") {
        alert("Falta asignar el usuario");
    } else {
        submit_with_ajax("", "");
    }
    return false;
    });

    //================================================Función AJAX======================================================

    function submit_with_ajax(url, parametros) {
        var parametros = new FormData();
        token = $('input[name="csrfmiddlewaretoken"]').val();
        parametros.append('action', $('#action').val());

        parametros.append('id', parseInt($("#id_ticket").val()));
        parametros.append('assignee_id', $("#asignar_usuario").val());
        
        parametros.append('csrfmiddlewaretoken', token);
        $.ajax({
            url: window.location.pathname, //window.location.pathname
            type: 'POST',
            data: parametros, // parametros,

            dataType: 'json',
            contentType: 'multipart/form-data',
            processData: false,
            contentType: false,
            success: function (result) {
                //alert("Correcto");
                if (result.correcto) {
                    $('#formEditarTicket')[0].reset();
                    $("#modalEditarTicket").modal("hide");
                    $('#formTerminarTicket')[0].reset();
                    $('#modalTerminarTicket').modal("hide");
                    tablaTicketOpen.ajax.reload(null, false); //Recargamos las tablas
                    tablaTicketInProgress.ajax.reload(null, false);
                    tablaTicketInDone.ajax.reload(null, false); 

                    switch (result.tipo_accion) {
                        case "actualizarOpen":
                            texto = "Ticket asignado con éxito";
                            break;
                        case "actualizarProgress":
                            texto = "Ticket finalizado con éxito";
                            break;
                        default:
                            texto = "";
                    }

                    Swal.fire({
                        icon: 'success',
                        title: 'Correcto',
                        text: texto
                    });

                } else {
                    tablaTicketOpen.ajax.reload(null, false); //Recargamos las tablas
                    tablaTicketInProgress.ajax.reload(null, false);
                    tablaTicketInDone.ajax.reload(null, false); 
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Ha ocurrido un error al realizar la acción'
                    });
                }

            },
            error: function (error) {
                //alert(error.responseJSON.Message);

            },
            failure: function () {
                //alert('Failure');
            }
        });
    }

    //================================================= Editar Ticket =============================================================

    $('#tableOpen tbody').on('click', 'a[rel="actualizarOpen"]', function(){
        
        var tr = tablaTicketOpen.cell($(this).closest('td, li')).index();
        var data = tablaTicketOpen.row(tr.row).data();

        $('#action').val('actualizarOpen');
        
        $('#titulo_ticket').val(data.title);
        $('#id_ticket').val(data.id);
        $('#description_ticket').val(data.description);
        $('#id_imagen').attr("src",data.img_ticket);

        $('#modalEditarTicket').modal('show');
    });

    $('#tableProgress tbody').on('click', 'a[rel="actualizarProgress"]', function(){
        
        var tr = tablaTicketInProgress.cell($(this).closest('td, li')).index();
        var data = tablaTicketInProgress.row(tr.row).data();

        $('#action').val('actualizarProgress');
        
        $('#titulo_ticketDone').val(data.title);
        $('#id_ticketDone').val(data.id);
        $('#description_ticketDone').val(data.description);
        $('#id_imagenDone').attr("src",data.img_ticket);

        $('#modalTerminarTicket').modal('show');
    });

    //========================================= ver imagen ===============================
    $("#verImagen").on("click", function () {
        
        $("#modalImagen").modal("show");
        
    });

</script>
{% endblock content %}