{% extends 'base.html' %}

{% load static %}

{% block title %}
Administracion Tickets
{% endblock title %}

{% block content %}

<div class="container-fluid py-4 col-12 ">
    <div class="row mb-4">
        <div class="col-12 md-0 mb-4">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="row">
                        <div class="col-lg-6 col-7">
                            <h3><i class="fa-solid fa-sliders fs-1"></i> Estados</h3>
                        </div>
                    </div>
                </div>
                <div class="card-body px-0 pb-2">
                    <div class="container-fluid col-12 text-center">
                        <div class="d-grid gap-2 d-md-block">
                            <a class="btn btn-outline-primary fs-4 m-1" href="{% url 'tickets_app:admin_ticket' 1 %}"><i class="fa-solid fa-layer-group fs-2"></i> Abierto</a>
                            <a class="btn btn-outline-warning fs-4 m-1" href="{% url 'tickets_app:admin_ticket' 2 %}"><i class="fa-solid fa-tags"></i> En progreso</a>
                            <a class="btn btn-outline-success fs-4 m-1" href="{% url 'tickets_app:admin_ticket' 3 %}"><i class="fa-solid fa-shapes"></i> Cerrado</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-12 md-0 mb-4">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="row">
                        <div class="col-4">
                            <h3 id="tituloCard"><i class="fa-solid fa-file-lines fs-1"></i></i> <span>Tickets</span></h3>
                        </div>
                        <div class="col-6 p-0 text-center">
                            <div class="col-12 p-0" id="div_fechas">
                                <div class="row p-0 m-0">
                                    <div class="form-group col-5 pb-2">
                                        <label for="fechaInicial">Fecha Inicial:</label>
                                        <input type="text" class="form-control datepicker p-0" id="fechaInicial" readonly>
                                    </div>
                                    <div class="col-1 p-0 m-0"></div>
                                    <div class="form-group col-5 pb-2">
                                        <label for="fechaFinal">Fecha Final:</label>
                                        <input type="text" class="form-control datepicker p-0" id="fechaFinal" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 my-auto text-end p-0">
                            <a type="button" href="{% url 'tickets_app:categorias_ticket'%}" class="btn btn-success btn-sm mb-2 me-2">
                                <i class="fa fa-bookmark opacity-10 fs-4" aria-hidden="true"></i><span class="fs-5"> Categorias</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body px-0 pb-2">
                    <div class="table-responsive">
                        <table class="table align-items-center mb-0" id="datatable">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        # Ticket
                                    </th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Usuario
                                    </th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> 
                                        Titulo
                                    </th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Descripcion
                                    </th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Fecha
                                    </th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Estado
                                    </th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Accion
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="text-center">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Inicio Asignar -->
<div class="modal fade" id="modalEditarTicket" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitulo"><i class="fa-solid fa-user-check"></i><span> Asignar Ticket</span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form method="post" action="." id="formEditarTicket" enctype="multipart/form-data"> {% csrf_token %}
                    <div class="form-group">
                        <div class="row">
                            <input type="text" class="d-none" name="action" id="action" value="actualizarOpen"/>
                            <div class="col-9 col-sm-8">
                                <label for="">Titulo</label>
                                <input type="text" class="form-control" id="titulo_ticket" name="titulo_ticket" disabled>
                            </div>
                            <div class="col-3 col-sm-4">
                                <label for="">Num. Ticket</label>
                                <input type="text" class="form-control" id="id_ticket" name="id_ticket" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Descripcion</label>
                        <textarea class="form-control" id="description_ticket" name="description_ticket" rows="3" name="descripcion" disabled></textarea>
                    </div>
                    <div class="btn-group mt-2 mb-2" role="group">
                        <button type="button" class="btn form-control p-0" id="verImagen" title="Ver Imagen"><i class="fa-solid fa-image fs-1"></i></button>
                    </div>
                    <!-- Modal ver Imagen     -->
                    <div class="modal fade" id="modalImagen">
                        <div class="modal-dialog modal-dialog-centered modal-lg">
                            <div class="modal-content">
                                <img src="" class="img-responsive" style="max-width:1366px;max-height:768px;" id="id_imagen">
                            </div>
                        </div>
                    </div>
                <!-- Fin Modal ver Imagen -->
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="asignar_usuario">Asignar a</label>
                        <select class="form-select" id="asignar_usuario" aria-label="Default select example">
                            <option value="0" selected> -- Seleccione -- </option>
                            {% for us in users %}
                                <option value="{{us.id}}">{{us.username}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btnEditarTicket">Guardar</button>
            </div>
        </div>
    </div>
</div>
<!-- Fin Editar -->


<script>
    //==================================================Carga del Modal=================================================

    var tablaTicket;
    var modalTitulo = $('#modalTitulo');
    var titulo_card = $('#tituloCard');
    var fechaFinal;
    var fechaInicial;

    window.onload = function () {
        modalTitulo.find('span').html(' Asignar Ticket');
        modalTitulo.find('i').removeClass().addClass('fa-solid fa-user-check');
        $('#datatable').DataTable();
        
    }

    $(document).ready(function () {
        $('#asignar_usuario').select2({
            dropdownParent:  $('#modalEditarTicket'),
            theme: 'bootstrap-5'
        });
       // Obtener la URL completa
        var url = window.location.href;
        // Expresión regular para buscar el valor después de "admin-ticket/"
        var value = url.match(/admin-ticket\/(\d+)\//)[1];
        if (value == 1){//si el estado es OPEN cambia el texto del boton y asigna la accion para actualizarlo a IN_PROGRESS
            titulo_card.find('span').html(' Abiertos');
            $('#div_fechas').hide();
            ObtenerDatos();
            notificar();
        }else if (value == 2){//si el estado es IN_PROGRESS cambia el texto del boton y asigna la accion apra actualizarlo DONE
            titulo_card.find('span').html(' En Progreso');
            $('#div_fechas').hide();
            ObtenerDatos();
            notificar();
        }else if (value == 3){
            titulo_card.find('span').html(' Cerrados');
            $('#div_fechas').show();
        }
        $("#fechaFinal").attr("disabled", true);
        $("#fechaInicial").datepicker({
            format: 'yyyy-mm-dd',
            autoclose: true,
            todayBtn: true
        }).on("changeDate", function (e) {
            fechaInicial = $("#fechaInicial").val();
            $("#fechaFinal").datepicker("setStartDate", fechaInicial);
            $("#fechaFinal").attr("disabled", false);
        });
        $("#fechaFinal").datepicker({
            format: 'yyyy-mm-dd',
            autoclose: true,
            todayBtn: true
        }).on("changeDate", function (e) {
            fechaFinal = $("#fechaFinal").val();
            if (fechaFinal < fechaInicial) {
                alert("La fecha final debe ser igual o mayor a la fecha inicial!");
                $("#fechaFinal").val("");
            }else{
                ObtenerDatos();
            }
        });
        
    });

    function notificar(){
        $("#datatable").on('draw.dt', function(){
            const tr = $(this).DataTable();
            tr.rows().every(function(){
                const rowData = this.data();
                const date = new Date(rowData.created_at);
                // Verificar si la fecha es menor a la fecha de hoy
                const hour24 = new Date().getTime() - (24*60*60*1000);
                if (date.getTime() < hour24) {
                // Mostrar fila resaltada
                    $(this.node()).addClass('table-danger');
                }
                const numFilaRetraso = $('.table-danger').length;
                if(numFilaRetraso > 0) {
                    Swal.fire({
                        title: 'Hay tickets pendientes',
                        text: 'Revisa la tabla para verificar',
                        icon: 'warning',
                        confirmButtonText: 'OK',
                    });
                }
                
            });
        });
    }
    //================================================== Obtener Ticket ================================================
    function ObtenerDatos() {
        token = $('input[name="csrfmiddlewaretoken"]').val();
        //============================== TIckets en Abiertos ===========================================================
        tablaTicket = $('#datatable').DataTable({
            responsive: true,
            autoWidth: false,
            destroy: true,
            bSortable: true,
            deferRender: true,
            language: {
                "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
            },
            ajax: {
                url: window.location.pathname, //Obtenemos la url obsoluta
                type: 'POST',
                data: {
                    'action': 'buscardatos',
                    'fecha_ini':fechaInicial,
                    'fecha_final':fechaFinal, //Mandamos la accion para que django sepa que tiene que buscar
                    'csrfmiddlewaretoken': token
                }, // parametros
                dataSrc: ""
            },
            columns: [ //Columnas de nuestro modelo/Tabla aqui retorna o pinta los valores en la datables
                {
                    "data": "id"
                },
                {
                    "data": "user_id.usuario"
                },
                {
                    "data": "title"
                },
                {
                    "data": "description"
                },
                {
                    "data": "created_at"
                },
                {
                    "data": "status"
                },
                {
                    "data": "status"
                }
            ], 
            columnDefs: [ //Personalizar una columna
                {
                    targets: [2],
                    render: function (data, type, row) {
                        return data.substr(0, 25) + "...";
                    }
                },
                {
                    targets: [5], //Personalizar la colummna numero 5
                    class: 'text-center',
                    orderable: false,
                    render: function (data, type, row) {
                            if (data == 'OPEN')
                                return '<span class="badge rounded-pill bg-primary fs-6 btn-sm btn-flat">Abierto</span>';
                            else if (data == 'IN_PROGRESS')
                                return '<span class="badge rounded-pill bg-warning fs-6 btn-sm btn-flat">En Progreso</span>';
                            else if (data == 'DONE')
                                return '<span class="badge rounded-pill bg-success fs-6 btn-sm btn-flat">Terminado</span>';
                    }
                },
                {
                    targets: [6], //Personalizar la colummna numero 6
                    class: 'text-center',
                    orderable: false,
                    render: function (data, type, row) {
                        if (data == 'OPEN'){
                            var buttons = `<a rel="EditarTicket" class='btn btn-secondary btn-sm btn-flat test-popup-link ms-1 me-1' title="Ver / Asignar">
                                            <i class="fa-solid fa-eye fs-6"></i></a>`;           
                            return buttons;
                        }else if (data == 'IN_PROGRESS'){
                            var buttons = `<a rel="EditarTicket" class='btn btn-secondary btn-sm btn-flat test-popup-link ms-1 me-1' title="Ver / Terminar">
                                <i class="fa-solid fa-eye fs-6"></i></a>`;
                                buttons += `<a rel="comentarios" class='btn btn-secondary btn-sm btn-flat test-popup-link ms-1 me-1' title="Comentarios">
                                <i class="fa-solid fa-comment-lines fs-6"></i></a>`;            
                            return buttons;
                        }else if (data == 'DONE'){
                            var buttons = `<a rel="EditarTicket" class='btn btn-secondary btn-sm btn-flat test-popup-link ms-1 me-1' title="Ver">
                                <i class="fa-solid fa-eye fs-6"></i></a>`;
                                buttons += `<a rel="comentarios" class='btn btn-secondary btn-sm btn-flat test-popup-link ms-1 me-1' title="Comentarios">
                                <i class="fa-solid fa-comment-lines fs-6"></i></a>`;            
                            return buttons;
                        }
                    }
                },
            ],
        });
    }

    
    //==================================================validar formulario=======================================================
    $("#btnEditarTicket").on("click", function () {

        if ($("#asignar_usuario").val() == "0") {
            alert("Falta asignar el usuario");
        } else {
            submit_with_ajax("", "");
        }
        return false;
    });


    //================================================Función AJAX======================================================

    function submit_with_ajax(url, parametros) {
        var parametros = new FormData();
        token = $('input[name="csrfmiddlewaretoken"]').val();
        parametros.append('action', $('#action').val());
        var tipoaction = $('#action').val();
        // alert(tipoaction);
        if (tipoaction == "actualizarOpen")
        {
            parametros.append('id', parseInt($("#id_ticket").val()));
            parametros.append('assignee_id', $("#asignar_usuario").val());
        }else if(tipoaction == "actualizarProgress")
        {
            parametros.append('id', parseInt($("#id_ticket").val()));
        }
        
        
        parametros.append('csrfmiddlewaretoken', token);
        $.ajax({
            url: window.location.pathname, //window.location.pathname
            type: 'POST',
            data: parametros, // parametros,

            dataType: 'json',
            contentType: 'multipart/form-data',
            processData: false,
            contentType: false,
            success: function (result) {
                //alert("Correcto");
                if (result.correcto) {
                    $('#formEditarTicket')[0].reset();
                    $("#modalEditarTicket").modal("hide");;
                    // alert("lol");
                    tablaTicket.ajax.reload(null, false); //Recargamo tabla
                    switch (result.tipo_accion) {
                        case "actualizarOpen":
                            texto = "Ticket asignado con éxito";
                            break;
                        case "actualizarProgress":
                            texto = "Ticket finalizado con éxito";
                            break;
                        default:
                            texto = "";
                    }

                    Swal.fire({
                        icon: 'success',
                        title: 'Correcto',
                        text: texto
                    });

                } else {
                    tablaTicket.ajax.reload(null, false); //Recargamo tabla 
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Ha ocurrido un error al realizar la acción'
                    });
                }

            },
            error: function (error) {
                //alert(error.responseJSON.Message);

            },
            failure: function () {
                //alert('Failure');
            }
        });
    }

    
    //================================================= Editar Ticket =============================================================

    $('#datatable tbody').on('click', 'a[rel="EditarTicket"]', function(){
        
        var tr = tablaTicket.cell($(this).closest('td, li')).index();
        var data = tablaTicket.row(tr.row).data();
        estado = data.status;
        $('#asignar_usuario').val(data.assignee_id.id);
        $('#titulo_ticket').val(data.title);
        $('#id_ticket').val(data.id);
        $('#description_ticket').val(data.description);
        $('#id_imagen').attr("src",data.img_ticket);
        if (estado == 'OPEN'){//si el estado es OPEN cambia el texto del boton y asigna la accion para actualizarlo a IN_PROGRESS
            modalTitulo.find('span').html(' Asignar Ticket');
            modalTitulo.find('i').removeClass().addClass('fa-solid fa-user-check fs-3'); 
            $('#btnEditarTicket').text('Asignar'); 
            $('#action').val('actualizarOpen');
        }else if (estado == 'IN_PROGRESS'){//si el estado es IN_PROGRESS cambia el texto del boton y asigna la accion apra actualizarlo DONE
            modalTitulo.find('span').html(' Terminar Ticket');
            modalTitulo.find('i').removeClass().addClass('fa-solid fa-ballot-check fs-3');
            $('#btnEditarTicket').text('Terminar');
            $('#asignar_usuario').attr("disabled",true);
            $('#action').val('actualizarProgress');
        }else if (estado == 'DONE'){
            modalTitulo.find('span').html(' Ver Ticket');
            modalTitulo.find('i').removeClass().addClass('fa-solid fa-eye fs-3');
            $('#btnEditarTicket').hide();
            $('#asignar_usuario').attr("disabled",true);
        }
        
        $('#modalEditarTicket').modal('show');
    }).on('click', 'a[rel="comentarios"]', function(){
            var tr = tablaTicket.cell($(this).closest('td, li')).index();
            var data = tablaTicket.row(tr.row).data();
            
            id_ticket  = data.id;
            Swal.fire({
                title: '¿Añadir comentarios al ticket?',
                icon: 'info',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sí',
                cancelButtonText: 'No'
            }).then((result) => {
                if (result.isConfirmed) {
                window.open("{% url 'tickets_app:comentarios' %}?id_ticket=" +id_ticket);
                }
            })
    });
    

    //========================================= ver imagen ===============================
    $("#verImagen").on("click", function () {
        
        $("#modalImagen").modal("show");
        
    });

</script>
{% endblock content %}